x-readme:
  samples-languages:
    - "http"
    - "curl"
    - "python"
    - "go"
    - "node"
openapi: 3.1.0
info:
  title: Twelve Labs Video Understanding API
  description: |
    Use the Twelve Labs Video Understanding API to extract information from your videos and make it available to your applications. The API is organized around REST and returns responses in the JSON format. It is compatible with most programming languages, and you can also use Postman or other REST clients to send requests and view responses.
  contact:
    name: Twelve Labs Support
    email: support@twelvelabs.io
  version: 1.2.0 
servers:
  - url: 'https://api.twelvelabs.io/v1.2'

################
###   Tags   ###
################

tags:
  - name: Manage engines
  - name: Manage indexes
  - name: Upload videos
  - name: Manage videos
  - name: Text-to-video search
  - name: Any-to-video search
  - name: Classify
  - name: Create text embeddings
  - name: Create video embeddings
  - name: Generate text from video
  - name: Extract video data
  - name: Create text, image, and audio embeddings

paths:

###################
###   Engines   ###
###################

  '/engines':
    summary:  Engines
    get:
      summary: List engines
      # x-readme:
      #   code-samples:
      #     - language: python
      #       code: |
      #         from twelvelabs import TwelveLabs
      #         client = TwelveLabs(api_key="<YOUR_API_KEY>")
      #         engines = client.engine.list()
      #         print(engines)
      #       name: Twelve Labs Python SDK
      #       install: pip install twelvelabs
      #     - language: node
      #       code: |
      #         import { TwelveLabs } from 'twelvelabs-js';
      #         (async () => {
      #           const client = new TwelveLabs({ apiKey: '<YOUR_API_KEY>' });
      #           const engines = await client.engine.list();
      #           console.log(engines);
      #         })();              
      #       name: Twelve Labs JS SDK
      #       install: yarn add twelvelabs-js
      description: This method lists all the engines that are available in your account.
      operationId: list-engines
      tags:
        - Manage engines
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/components/responses/getEnginesResponse'
        '400':
          $ref: '#/components/responses/genericError'

  '/engines/{engine-id}':
    get:
      summary: Retrieve an engine
      # x-readme:
      #   code-samples:
      #     - language: python
      #       code: |
      #         from twelvelabs import TwelveLabs
      #         client = TwelveLabs(api_key="<YOUR_API_KEY>")
      #         engine = client.engine.retrieve('pegasus1.1')
      #         print(engine)
      #       name: Twelve Labs Python SDK
      #       install: pip install twelvelabs
      #     - language: node
      #       code: |
      #         import { TwelveLabs } from 'twelvelabs-js';
      #         (async () => {
      #           const client = new TwelveLabs({ apiKey: '<YOUR_API_KEY>' });
      #           const engine = await client.engine.retrieve('pegasus1.1');
      #           console.log(engine);
      #         })();              
      #       name: Twelve Labs JS SDK
      #       install: yarn add twelvelabs-js
      description: This method retrieves an engine.
      operationId: retrieve-engine
      tags:
        - Manage engines
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: engine-id
          in: path
          description: |
            The identifier of the engine to retrieve. The following engines are available:
                            
            - **Embedding**: These engines are proficient at performing tasks such as search and classification, enabling enhanced video understanding.

              - `marengo2.6`

            - **Generative**: These engines generate text based on your videos.

              - `pegasus1.1`

            For details about the features of each engine, see the [Video understanding engines](/docs/video-understanding-engines) page.
          required: true
          schema:
            type: string
            example: marengo2.6
      responses:
        '200':
          $ref: '#/components/responses/getEngineResponse'
        '404':
          $ref: '#/components/responses/notFound'

#################
###   Tasks   ###
#################

  /tasks:
    post:
      summary: Create a video indexing task
      # x-readme:
      #   code-samples:
      #     - language: python
      #       code: |
      #         from twelvelabs import TwelveLabs
      #         task = client.task.create(
      #           index_id='<YOUR_INDEX_ID>',
      #           file='<YOUR_FILE_PATH>',
      #         )
      #         print(f"Task id={task.id}")
      #       name: Twelve Labs Python SDK
      #       install: pip install twelvelabs
      #     - language: node
      #       code: |
      #         import { TwelveLabs } from 'twelvelabs-js';
      #         (async () => {
      #           const client = new TwelveLabs({ apiKey: '<YOUR_API_KEY>' });
      #           const task = await client.task.create({
      #             indexId: '<YOUR_INDEX_ID',
      #             file: '<YOUR_FILE_NAME' # Example'./assets/1.mp4',
      #           });
      #           console.log(`Task id=${task.id}`);
      #         })();              
      #       name: Twelve Labs JS SDK
      #       install: yarn add twelvelabs-js
      description: |
        This method creates a video indexing task that uploads and indexes a video.
        Ensure your video meets the requirements in the [Prerequisites](/docs/upload-single-videos#prerequisites) section of the **Upload single videos** page.
        
        Upload options:
        - **Local file**: Use the `video_file` parameter.
        - **Publicly accessible URL**: Use the `video_url` parameter.   

        **NOTES**:
        - The platform supports video URLs that can play without additional user interaction or custom video players. Ensure your URL points to the raw video file, not a web page containing the video. Links to third-party hosting sites, cloud storage services, or videos requiring extra steps to play are not supported.
        - This endpoint is rate-limited. For details, see the [Rate limits](/docs/rate-limits) page.

      operationId: create-video-indexing-task
      tags:
        - Upload videos
      requestBody:
        $ref: '#/components/requestBodies/createVideoIndexingTask'
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/multipart'
      responses:
        '200':
          $ref: '#/components/responses/createVideoIndexingTaskResponse'
        '400':
          $ref: '#/components/responses/insufficientFunds'
    
    get:
      summary: List video indexing tasks
      description: This method returns a list of the video indexing tasks in your account. The API returns your video indexing tasks sorted by creation date, with the newest at the top of the list.
      operationId: list-video-indexing-tasks
      tags:
        - Upload videos
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_limit'
        - $ref: '#/components/parameters/sort_by'
        - $ref: '#/components/parameters/sort_option'
        - $ref: '#/components/parameters/_id'
        - $ref: '#/components/parameters/index_id'
        - $ref: '#/components/parameters/filename'
        - $ref: '#/components/parameters/duration'
        - $ref: '#/components/parameters/width'
        - $ref: '#/components/parameters/height'
        - $ref: '#/components/parameters/created_at'
        - $ref: '#/components/parameters/updated_at'
        - $ref: '#/components/parameters/estimated_time'

      responses:
        '200':
          $ref: '#/components/responses/getVideoIndexingTasksResponse'
        '400':
          $ref: '#/components/responses/genericError'
  
  '/tasks/{task_id}':
    get:
      summary: Retrieve a video indexing task
      description: This method retrieves a video indexing task.
      operationId: retrieve-video-indexing-task
      tags:
        - Upload videos
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: task_id
          in: path
          description: |
            The unique identifier of the video indexing task to retrieve.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getVideoIndexingTaskResponse'
        '400':
          $ref: '#/components/responses/genericError'
    delete:
      summary: Delete a video indexing task
      description: |
        This action cannot be undone.
        Note the following about deleting a video indexing task:
        - You can only delete video indexing tasks for which the status is `ready` or `failed`.
        - If the status of your video indexing task is `ready`, you must first delete the video vector associated with your video indexing task by calling the [`DELETE`](/reference/delete-video-information) method of the `/indexes/videos` endpoint.
      operationId: delete-video-indexing-task
      tags:
        - Upload videos
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: task_id
          in: path
          description: |
            The unique identifier of the video indexing task you want to delete.
          required: true
          schema:
            type: string
      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'

  '/tasks/status':
    get:
      summary: Retrieve tasks by status
      description: This method retrieves the number video indexing tasks in each status for the specified index.
      operationId: video-indexing-tasks-by-status
      tags:
        - Upload videos
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: index_id
          in: query
          description: The unique identifier of the index for which you want to retrieve the number video indexing tasks in each status.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/retrieveSummaryVideoIndexingTaskResponse'
        '400':
          $ref: '#/components/responses/genericError'
  
  ###########################
  ###   Tasks/Transfers   ###
  ###########################

  '/tasks/transfers':
    post:
      summary: Make a cloud-to-cloud transfer
      description: |
        This method makes a cloud-to-cloud transfer. The videos you wish to upload must meet the requirements in the [Prerequisites](/docs/upload-single-videos#prerequisites) section of the **Upload single videos** page.
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/multipart'
      operationId: cloud-to-cloud-transfer
      tags:
        - Upload videos
      requestBody:
        $ref: '#/components/requestBodies/cloud-to-cloud-transfer'
      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'

  ####################################
  ###   Tasks/External Providers   ###
  ####################################
  
  # '/tasks/external-provider':
  #   post:
  #     summary: Upload videos from external providers
  #     description: |
  #       Use this endpoint to upload videos from external providers. The platform currently supports only YouTube as an external provider, but we will add support for additional providers in the future.
  #     operationId: upload-external-provider
  #     tags:
  #       - Tasks
  #     parameters:
  #       - $ref: '#/components/parameters/x-api-key'
  #     requestBody:
  #       $ref: '#/components/requestBodies/upload-external-provider'
  #     responses:
  #       '201':
  #         $ref: '#/components/responses/createVideoIndexingTaskResponse'
  #       '400':
  #         $ref: '#/components/responses/genericError'

###################
###   Indexes   ###
###################

  '/indexes':
    post:
      summary: Create an index
      description: |
        This method creates an index.

      operationId: create-index
      tags:
        - Manage indexes
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        $ref: '#/components/requestBodies/createIndex'
      responses:
        '201':
          $ref: '#/components/responses/createIndexResponse'
        '400':
          $ref: '#/components/responses/genericError'
    get:
      summary: List indexes
      description: |
        This method returns a list of the indexes in your account. The API returns indexes sorted by creation date, with the oldest indexes at the top of the list.

      operationId: list-indexes
      tags:
        - Manage indexes
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_limit'
        - $ref: '#/components/parameters/sort_by'
        - $ref: '#/components/parameters/sort_option'
        - name: _id
          in: query
          description: Filter by the unique identifier of an index.
          required: false
          schema:
            type: string
        - name: index_name
          in: query
          description: Filter by the name of an index.
          required: false
          schema:
            type: string
        - name: engine_options
          in: query
          description: |
            Filter by the engine options. When filtering by multiple engine options, the values must be comma-separated.
          required: false
          schema:
            type: string
          example: engine_options=visual,conversation
        - name: engine_family
          in: query
          description: |
            Filter by the engine family. This parameter can take one of the following values: `marengo` or `pegasus`. You can specify a single value.
          schema: 
            type: string
          required: false
        - name: index_options
          in: query
          description: |
            Filter by the indexing options. When filtering by multiple indexing options, the values must be comma-separated.

            **NOTE:** This parameter is supported for backward compatibility and will be deprecated in a future release. Instead, use `engine_options` or `engine_family`.
          required: false
          schema:
            type: string
          example: index_options=visual,conversation
        - name: created_at
          in: query
          description: |
            Filter indexes by the creation date and time, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the indexes that were created on the specified date at or after the given time.
          schema:
            type: string
          required: false
          example: 2024-08-16T16:53:59Z
        - name: updated_at
          in: query
          description: |
            Filter indexes by the last update date and time, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the indexes that were last updated on the specified date at or after the given time.
          schema:
            type: string
          required: false
          example: 2024-08-16T16:55:59Z
      responses:
        '200':
          $ref: '#/components/responses/getIndexesResponse'
        '400':
          $ref: '#/components/responses/genericError'
  
  '/indexes/{index-id}':
    get:
      summary: Retrieve an index
      description: |
        This method retrieves details about the specified index.
      operationId: retrieve-index
      tags:
        - Manage indexes
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: index-id
          in: path
          description: |
            Unique identifier of the index to retrieve.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getIndexResponse'
        '400':
          $ref: '#/components/responses/genericError'
    put:
      summary: Update an index
      description: |
        This method updates the name of the specified index.

      operationId: update-index
      tags:
        - Manage indexes
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: index-id
          in: path
          description: |
            Unique identifier of the index to update.
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/updateIndex'
      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'
    delete:
      summary: Delete an index
      description: This method deletes the specified index and all the videos within it. This action cannot be undone.
      operationId: delete-index
      tags:
        - Manage indexes
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: index-id
          in: path
          description: |
            Unique identifier of the index to delete.
          required: true
          schema:
            type: string
      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'

##########################
###   indexes/videos   ###
##########################

  '/indexes/{index-id}/videos':
    get:
      summary: List videos
      operationId: list-videos
      description: |
        This method returns a list of the videos in the specified index. By default, the API returns your videos sorted by creation date, with the newest at the top of the list.
      tags:
        - Manage videos
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_limit'
        - $ref: '#/components/parameters/sort_by'
        - $ref: '#/components/parameters/sort_option'
        - name: index-id
          in: path
          description: The unique identifier of the index for which the API will retrieve the videos.
          schema:
            type: string
          required: true
        - name: _id
          in: query
          description: |
            Filter by the unique identifier of a video index.
          required: false
          schema:
            type: string
        - name: filename
          in: query
          description: |
            Filter by filename.
          required: false
          schema:
            type: string
        - name: duration
          in: query
          description: |
            Filter by duration. Expressed in seconds.
          schema:
            type: number
        - name: fps
          in: query
          description: |
            Filter by frames per second.
          required: false
          schema:
            type: number
        - name: width
          in: query
          description: |
            Filter by width.
          required: false
          schema:
            type: number
        - name: height
          in: query
          description: |
            Filter by height.
          required: false
          schema:
            type: integer
        - name: size
          in: query
          description: |
            Filter by size. Expressed in bytes.
          required: false
          schema:
            type: number
        - name: created_at
          in: query
          description: |
            Filter videos by the creation date and time of their associated indexing tasks, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the videos whose indexing tasks were created on the specified date at or after the given time.
          required: false
          schema:
            type: string
        - name: updated_at
          in: query
          description: |
            This filter applies only to videos updated using the [`PUT`](/reference/update-video-information) method of the `/indexes/{index-id}/videos/{video-id}` endpoint. It filters videos by the last update date and time, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the video indexing tasks that were last updated on the specified date at or after the given time. 
          required: false
          schema:
            type: string
        - name: indexed_at
          in: query
          description: |
            Filter videos by the completion time of their associated indexing tasks, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the videos whose indexing tasks were completed on the specified date at or after the given time. 
          required: false
          schema:
            type: string
        - name: metadata # Arbitrary name that won't be included in the request URL.
          in: query
          description: |
            To enable filtering by custom fields, first add metadata to your video by calling the [`PUT](/reference/update-video-information) method of the `/indexes/:index-id/videos/:video-id` endpoint.

            Examples:
            - To filter on a string: `?category=recentlyAdded`
            - To filter on an integer: `?batchNumber=5`
            - To filter on a float: `?rating=9.3`
            - To filter on a boolean: `?needsReview=true`
          schema:
            type: object
            propertyNames:
              pattern: '^[A-Za-z][A-Za-z0-9]*$'  # Parameter names
            additionalProperties:
              pattern: '^[A-Za-z][A-Za-z0-9]*$'
          style: form
          explode: true

      responses:
        '200':
          $ref: '#/components/responses/getVideoVectorsResponse'
        '400':
          $ref: '#/components/responses/genericError'

  '/indexes/{index-id}/videos/{video-id}':
    get:
      summary: Retrieve video information
      description: This method retrieves information about the specified video.
      operationId: retrieve-video-information
      tags:
        - Manage videos
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: index-id
          in: path
          description: |
            The unique identifier of the index to which the video has been uploaded.
          required: true
          schema:
            type: string
        - name: video-id
          in: path
          description: |
            The unique identifier of the video to retrieve.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getVideoVectorResponse'
        '400':
          $ref: '#/components/responses/genericError'
    put:
      summary: Update video information
      description: Use this method to update the title and the metadata of a video.
      operationId: update-video-information
      tags:
        - Manage videos
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: index-id
          in: path
          description: |
            The unique identifier of the index to which the video has been uploaded.
          required: true
          schema:
            type: string
        - name: video-id
          in: path
          description: |
            The unique identifier of the video to update.
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/update-video-vector'

      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'
    delete:
      summary: Delete video information
      operationId: delete-video-information
      tags:
        - Manage videos
      description: |
        This method deletes all the information about the specified video This action cannot be undone.
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: index-id
          in: path
          description: |
            The unique identifier of the index to which the video has been uploaded.
          required: true
          schema:
            type: string
        - name: video-id
          in: path
          description: |
            The unique identifier of the video to delete.
          required: true
          schema:
            type: string
      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'

  '/indexes/{index-id}/videos/{video-id}/transcription':
    get:
      summary: Retrieve a transcription
      description: This method retrieves a transcription of the spoken words.
      operationId: retrieve-transcription
      tags:
        - Extract video data
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: index-id
          in: path
          description: |
            The unique identifier of the index to which the video has been uploaded.
          required: true
          schema:
            type: string
        - name: video-id
          in: path
          description: |
            The unique identifier of the video for which you want to retrieve a transcription.
          required: true
          schema:
            type: string
        - name: start
          in: query
          description: |
            The start of the time range (in seconds) to retrieve transcription for.
          required: false
          schema:
            type: number
        - name: end
          in: query
          description: |
            The end of the time range (in seconds) to retrieve transcription for.
          required: false
          schema:
            type: number
      responses:
        '200':
          $ref: '#/components/responses/retrieveTranscriptionResponse'
        '400':
          $ref: '#/components/responses/genericError'


  '/indexes/{index-id}/videos/{video-id}/text-in-video':
    get:
      summary: Retrieve text recognized in video (OCR)
      description: This method retrieves text recognized in video (OCR).
      operationId: retrieve-ocr
      tags:
        - Extract video data
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: index-id
          in: path
          description: |
            The unique identifier of the index to which the video has been uploaded.
          required: true
          schema:
            type: string
        - name: video-id
          in: path
          description: |
            The unique identifier of the video.
          required: true
          schema:
            type: string
        - name: start
          in: query
          description: |
            The start of the time range (in seconds) to retrieve OCRs for.
          required: false
          schema:
            type: number
        - name: end
          in: query
          description: |
            The end of the time range (in seconds) to retrieve OCRs for.
          required: false
          schema:
            type: number
      responses:
        '200':
          $ref: '#/components/responses/retrieveOcrResponse'
        '400':
          $ref: '#/components/responses/genericError'

  '/indexes/{index-id}/videos/{video-id}/logo':
    get:
      summary: Extract logos
      description: Use this method to identify the presence of brand logos within your videos.

      operationId: identify-logos
      tags:
        - Extract video data
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: index-id
          in: path
          description: |
            The unique identifier of the index to which the video has been uploaded.
          required: true
          schema:
            type: string
        - name: video-id
          in: path
          description: |
            The unique identifier of the video.
          required: true
          schema:
            type: string
        - name: start
          in: query
          description: |
            The start of the time range (in seconds) to retrieve logos for.
          required: false
          schema:
            type: number
        - name: end
          in: query
          description: |
            The end of the time range (in seconds) to retrieve logos for.
          required: false
          schema:
            type: number
      responses:
        '200':
          $ref: '#/components/responses/retrieveLogoResponse'
        '400':
          $ref: '#/components/responses/genericError'
  

  '/indexes/{index_id}/videos/{video_id}/thumbnail':
    get:
      summary: Retrieve a thumbnail
      description: To use this feature, you must enable thumbnail generation for the index to which the video has been uploaded. For details, see the [Create an index](/reference/create-index) section.
      operationId: retrieve-thumbnail
      tags:
        - Extract video data
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: index_id
          in: path
          description: |
            The unique identifier of the index to which the video has been uploaded.
          required: true
          schema:
            type: string
        - name: video_id
          in: path
          description: |
            The unique identifier of the video from which you want to retrieve a thumbnail.
          required: true
          schema:
            type: string
        - name: time
          in: query
          description: |
            Specifies the time, in seconds, at which the platform must retrieve the thumbnail. If you don't specify this parameter, the platform retrieves a thumbnail from the middle of the video.
          required: false
          schema:
            type: number
      responses:
        '200':
          $ref: '#/components/responses/retrieveThumbnailResponse'
        '400':
          $ref: '#/components/responses/genericError'

##################
###   Search   ###
##################

  '/search':
    post:
      summary: Make a text-to-video search request
      tags:
        - Text-to-video search
      description: |
        This endpoint will be deprecated. Twelve Labs recommends you use the [Any-to-video search](/reference/any-to-video-search) endpoint instead.

        **NOTES**:
        - When you use pagination, you will not be charged for retrieving subsequent pages of results.
        - This endpoint is rate-limited. For details, see the [Rate limits](/docs/rate-limits) page.
      operationId: make-search-request
      requestBody:
        $ref: '#/components/requestBodies/search'
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/components/responses/searchResultsResponse' 
        '400':
          $ref: '#/components/responses/genericError'
        '429':
          description: |
            If the rate limit is reached, the platform returns an `HTTP 429 - Too many requests` error response. The response body is empty.


  '/search/combined':
    post:
      x-readme:
        explorer-enabled: false
      summary: Make a combined search request
      operationId: combined-queries-make-search-request
      tags:
        - Text-to-video search
      description: |
        Use this method to search for relevant matches in an index using combined queries.

        For clarity, the combined search feature is documented in this section. However, note that the `/search` endpoint supports all the features of the `/combined-search` endpoint.
        
        This method returns the first page of results. To retrieve the subsequent pages, you must call the [`GET`](/reference/combined-queries-retrieve-specific-page) method of the `/combined-search/{page-token}` endpoint, passing it the unique identifier of the page you want to retrieve.

        **NOTES**:
        - Twelve Labs Inc. has disabled calling this method from this page to avoid confusion and recommends you invoke it using one of the available [SKDs](/docs/twelve-labs-sdks). See the [Use combined queries](/docs/search-combined-queries) page for details.
        - This endpoint is rate-limited. For details, see the [Rate limits](/docs/rate-limits) page.
        - When you use pagination, you will not be charged for retrieving subsequent pages of results.
          
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        $ref: '#/components/requestBodies/combinedSearch'
      responses:
        '200':
          $ref: '#/components/responses/combinedSearchResultsResponse'
        '400':
          $ref: '#/components/responses/genericError'
        '429':
          description: |
            If the rate limit is reached, the platform returns an `HTTP 429 - Too many requests` error response. The response body is empty.
  '/search/{page-token}':
    get:
      summary: Retrieve a specific page of search results
      tags:
        - Text-to-video search
      description: |
        This endpoint will be deprecated. Twelve Labs recommends you use the [Any-to-video search](/reference/any-to-video-search) endpoint instead.

        **NOTE**: When you use pagination, you will not be charged for retrieving subsequent pages of results.
      operationId: search-retrieve-specific-page
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: page-token
          in: path
          required: true
          description: |
            A token that identifies the page to retrieve.
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/searchResultsResponsePageId'
        '400':
          $ref: '#/components/responses/searchResultsError'

  '/search/combined/{page-token}':
    get:
      summary: Retrieve a specific page of combined search results
      tags:
        - Text-to-video search
      description: |
        Use this endpoint to retrieve a specific page of search results.

        **NOTE**: When you use pagination, you will not be charged for retrieving subsequent pages of results.

      operationId: combined-queries-retrieve-specific-page
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: page-token
          in: path
          required: true
          description: |
            A token that identifies the page to retrieve.
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/combinedSearchSpecificPageResultsResponse'
        '400':
          $ref: '#/components/responses/searchResultsError'

####################
###   Classify   ###
####################

  '/classify':
    post:
      summary: Classify a set of videos
      description: |
        Use this method to classify a set of videos based on the entities or actions shown in those videos. Note that this endpoint returns the first page or results. To retrieve the rest of the pages, you must call the [`GET`](/reference/classify-retrieve-specific-page) method of the `/classify/{page_token}` endpoint passing it the token that identifies the page you want to retrieve.

        **NOTES**: 
        - This endpoint is rate-limited. For details, see the [Rate limits](/docs/rate-limits) page.
        - The total number of the prompts you specify in a request must not exceed 100.
        - The total duration of the videos you classify in a request must not exceed 10 hours.
        - When you use pagination, you will not be charged for retrieving subsequent pages of results.

      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
      operationId: classify-video
      tags:
        - Classify
      requestBody:
        $ref: '#/components/requestBodies/classifyRequestNew'
      responses:
        '200':
          $ref: '#/components/responses/classifyResponseNew'
        '400':
          $ref: '#/components/responses/classify10hours'
        '429':
          description: |
            If the rate limit is reached, the platform returns an `HTTP 429 - Too many requests` error response. The response body is empty.

  '/classify/bulk':
    post:
      summary: Classify all the videos in an index
      description: |
        Use this method to classify all the videos in the specified index based on the entities or actions shown in those videos. Note that this endpoint returns the first page or results. To retrieve the rest of the pages, you must call the [`GET`](/reference/classify-retrieve-specific-page) method of the `/classify/{page_token}` endpoint passing it the token that identifies the page you want to retrieve.

        **NOTES**: 
        - This endpoint is rate-limited. For details, see the [Rate limits](/docs/rate-limits) page. 
        - The total number of prompts you specify in a request must not exceed 100.
        - When you use pagination, you will not be charged for retrieving subsequent pages of results.
      operationId: classify-bulk
      tags:
        - Classify
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        $ref: '#/components/requestBodies/classifyRequestBulkNew'
      responses:
        '200':
          $ref: '#/components/responses/classifyBulkResponseNew'
        '400':
          $ref: '#/components/responses/genericError'
        '429':
          description: |
            If the rate limit is reached, the platform returns an `HTTP 429 - Too many requests` error response. The response body is empty.

  '/classify/{page_token}':
    get:
      summary: Retrieve a specific page of results
      description: |
        The `classify` and `/classify/bulk` endpoints return the first page or results. You can use this endpoint to retrieve the rest of the pages.

        **NOTE**: When you use pagination, you will not be charged for retrieving subsequent pages of results.
        
      operationId: classify-retrieve-specific-page
      tags:
        - Classify
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: page_token
          description: A token that identifies the page to retrieve.
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/classifyBulkResponseNewSpecificPage'
        '400':
          $ref: '#/components/responses/genericError'

####################
###   Generate   ###
####################

  '/gist':
    post:
      summary: Titles, topics, or hashtags
      description: |
        This endpoint generates concise overviews in the form of titles, topics, and hashtags representing the key elements or themes of a video.

        **NOTE**: This endpoint is rate-limited. For details, see the [Rate limits](/docs/rate-limits) page.

      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
      operationId: generate-gist
      tags:
        - Generate text from video
      requestBody:
        $ref: '#/components/requestBodies/gistRequest'
      responses:
        '200':
          $ref: '#/components/responses/gistResponse'
        '400':
          $ref: '#/components/responses/genericError'
        '429':
          description: |
            If the rate limit is reached, the platform returns an `HTTP 429 - Too many requests` error response. The response body is empty.
          
  '/summarize':
    post:
      summary: Summaries, chapters, or highlights
      description: |
        This endpoint generates summaries, chapters, or highlights for your videos. Optionally, you can provide a prompt to customize the output.

        **NOTE**: This endpoint is rate-limited. For details, see the [Rate limits](/docs/rate-limits) page. 
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
      operationId: summarize
      tags:
        - Generate text from video
      requestBody:
        $ref: '#/components/requestBodies/summarizeRequest'
      responses:
        '200':
          $ref: '#/components/responses/summarizeResponse'
        '400':
          $ref: '#/components/responses/genericError'
        '429':
          description: |
            If the rate limit is reached, the platform returns an `HTTP 429 - Too many requests` error response. The response body is empty.

  '/generate':
    post:
      summary: Open-ended texts
      description: |
        This endpoint generates open-ended texts based on your videos, including but not limited to tables of content, action items, memos, and detailed analyses.

        **NOTES**:
        - This endpoint is rate-limited. For details, see the [Rate limits](/docs/rate-limits) page.
        - This endpoint supports streaming responses. For details on integrating this feature into your application, refer to the [Streaming response](/docs/streaming-responses) guide.
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
      operationId: generate-text-representation
      tags:
        - Generate text from video
      requestBody:
        $ref: '#/components/requestBodies/generateTextRepresentationRequest'
      responses:
        '200':
          description: The specified video has successfully been processed.
          headers:
            X-Ratelimit-Limit:
              schema:
                type: number
              description: The maximum number of requests you can make per rate limit window for this endpoint. For details, see the [Rate limits](/docs/rate-limits) page.
              example: 100
            X-Ratelimit-Remaining:
              schema:
                type: number
              description: The number of requests remaining in the current rate limit window for the specific endpoint. This value decreases with each request you make to that endpoint and resets at the start of the next rate limit window.
              example: 99
            X-Ratelimit-Used:
              schema:
                type: number
              description: The number of requests you have made in the current rate limit window for the specific endpoint. This value increases with each request you make to that endpoint and resets to zero at the start of the next rate limit window.
              example: 1
            X-Ratelimit-Reset:
              schema:
                type: number
              description: The time at which the current rate limit window resets, expressed in UTC epoch seconds. After this time, the values of the `X-Ratelimit-Remaining` and `X-Ratelimit-Used` parameters will be reset to their initial values for the next rate limit window.
              example: 1718777276
            Transfer-Encoding:
              schema:
                type: string
                description: The platform returns this header when the `stream` parameter is set to `true` in the request. It indicates that the response body is sent in chunks. 
                default: chunked
                example: chunked
          content:
            application/json:
              schema:
                oneOf: 
                  - type: object
                    description: |
                      When the value of the `stream` parameter is set to `false`, the response is as follows:
                    title: Non-streamed response
                    properties:
                      id:
                        description: |
                          Unique identifier of the response.
                        type: string
                      data:
                        description: |
                          The generated text based on the prompt you provided.
                        type: string
                  - type: object
                    title: Streamed response
                    description: |
                      When the value of the `stream` parameter is set to `true`, the platform provides a streaming response in the NDJSON format.

                      The stream contains three types of events:
                      1. Stream start
                      2. Text generation
                      3. Stream end

                      To integrate the response into your application, follow the guidelines below:
                      - Parse each line of the response as a separate JSON object.
                      - Check the `event_type` field to determine how to handle the event.
                      - For `text_generation` events, process the `text` field as it arrives. Depending on your application's requirements, this may involve displaying the text incrementally, storing it for later use, or performing any tasks.
                      - Use the `stream_start` and `stream_end` events to manage the lifecycle of your streaming session.
                    oneOf:
                      - type: object
                        title: Stream start 
                        description: |
                          Indicates the beginning of the stream.
                        properties:
                          event_type:
                            type: string
                            description: |
                              This field is always set to `stream_start` for this event.
                          metadata:
                            type: object
                            description: An object containing metadata about the stream.
                            properties:
                              generation_id:
                                type: string
                                description: |
                                  A unique identifier for the generation session.
                      - type: object
                        title: Text generation
                        description: |
                          Contains a fragment of generated text. Note that text fragments may be split at arbitrary points, not necessarily at word or sentence boundaries.
                        properties:
                          event_type:
                            type: string
                            description: |
                              This field is always set to `text_generation` for this event.
                          text:
                            type: string
                            description: |
                              A fragment of the generated text.
                      - type: object
                        title: Stream end
                        description: |
                          Indicates the end of the stream.
                        properties:
                          event_type:
                            type: string
                            description: |
                              This field is always set to `stream_end` for this event.
                          metadata:
                            type: object
                            description: An object containing metadata about the stream.
                            properties:
                              generation_id:
                                type: string
                                description: |
                                  The same unique identifier provided in the `stream_start` event.
              examples:
                non-streaming-response:
                  summary: Non-streamed response
                  value:
                    id: 2a22fd17-7bd4-446a-abd6-b9382cb18f90
                    data: '1. Vlog\n2. Minnesota\n3. Mall of America\n4. Shopping haul\n5. Outdoor adventure'
                stream-start-response:
                  summary: Stream start
                  value:
                    event_type: stream_start
                    metadata:
                      generation_id: 2f6d0bdd-aed8-47b1-8124-3c9d8006cdc9
                text-generation-resonse:
                  summary: Text generation
                  value:
                    event_type: text_generation
                    text: light-hearted moments of cats
                stream-end-response:
                  summary: Stream end
                  value:
                    event_type: stream_end
                    metadata:
                      generation_id: 2f6d0bdd-aed8-47b1-8124-3c9d8006cdc9


        '400':
          $ref: '#/components/responses/genericError' 
        '429':
          description: |
            If the rate limit is reached, the platform returns an `HTTP 429 - Too many requests` error response. The response body is empty.
            
#############################################
###   Text, image, and audio embeddings   ###
#############################################
  "/embed":
    post:
      summary: Create embeddings for text, image, and audio 
      description: |
        This method creates embedings for text, image, and audio content.
        
        Before you create an embedding, ensure that the following prerequisites are met: 
        - [Text embeddings](/docs/create-text-embeddings#prerequisites)
        - [Image embeddings](/docs/create-image-embeddings#prerequisites)
        - [Audio embeddings](/docs/create-audio-embeddings#prerequisites)

        Parameters for embeddings:
        - **Common parameters**:
          - `engine_name`: The video understanding engine you want to use. Example: "Marengo-retrieval-2.6".
        - **Text embeddings**:
          - `text`: Text for which to create an embedding.
        - **Image embeddings**:
          Provide one of the following:
          - `image_url`: Publicly accessible URL of your image file.
          - `image_file`:  Local image file.
        - **Audio embeddings**:
          Provide one of the following:
          - `audio_url`: Publicly accessible URL of your audio file.
          - `audio_file`: Local audio file.

        **NOTES**:
        - The “Marengo-retrieval-2.6” video understanding engine generates embeddings for all modalities in the same latent space. This shared space enables any-to-any searches across different types of content.
        - You can create multiple types of embeddings in a single API call.
        - Audio embeddings combine generic sound and human speech in a single embedding. For videos with transcriptions, you can [retrieve transcriptions](/reference/retrieve-transcription) and then [create text embeddings](/reference/create-text-embedding) from these transcriptions.

      operationId: create-text-image-audio-embedding
      tags:
        - Create text, image, and audio embeddings
      requestBody:
        $ref: "#/components/requestBodies/createSyncEmbeddingRequest"
      parameters:
        - $ref: "#/components/parameters/x-api-key"
        - $ref: "#/components/parameters/multipart"
      responses:
        "200":
          $ref: "#/components/responses/createSyncEmbeddingResponse"
        "400":
          $ref: "#/components/responses/genericError"

###########################
###   Text embeddings   ###
###########################

  # '/embed':
  #   post:
  #     summary: Create text embeddings
  #     description: |
  #       This endpoint creates text embeddings.

  #       **NOTE**: The “Marengo-retrieval-2.6” video understanding engine generates embeddings for all modalities in the same latent space. This shared space enables any-to-any searches across different types of content.
  #     operationId: create-text-embedding
  #     tags:
  #       - Create text embeddings
  #     requestBody:
  #       $ref: '#/components/requestBodies/createTextEmbeddingRequest'
  #     parameters:
  #       - $ref: '#/components/parameters/x-api-key'
  #       - $ref: '#/components/parameters/multipart'
  #     responses:
  #       '200':
  #         $ref: '#/components/responses/createTextEmbeddingResponse'
  #       '400':
  #         $ref: '#/components/responses/genericError'

############################
###   Video embeddings   ###
############################

  '/embed/tasks':
    post:
      summary: Create a video embedding task
      description: |
        This method creates a new video embedding task that uploads a video to the platform and creates one or multiple video embeddings.

        Ensure your video meets the requirements in the [Prerequisites](/docs/create-video-embeddings#prerequisites) section of the **Create video embeddings** page.

        Upload options: 
        - **Local file**: Use the `video_file` parameter
        - **Publicly accessible URL**: Use the `video_url` parameter.
        
        Specify at least one option. If both are provided, `video_url` takes precedence.

        **NOTES**:
        - The “Marengo-retrieval-2.6” video understanding engine generates embeddings for all modalities in the same latent space. This shared space enables any-to-any searches across different types of content.
        - Video embeddings are stored for seven days.
        - The platform supports uploading video files that can play without additional user interaction or custom video players. Ensure your URL points to the raw video file, not a web page containing the video. Links to third-party hosting sites, cloud storage services, or videos requiring extra steps to play are not supported.

      operationId: create-video-embeding-task
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/multipart'
      tags:
        - Create video embeddings
      requestBody:
        $ref: '#/components/requestBodies/createVideoEmbeddingTaskRequest'
      responses:
        '200':
          $ref: '#/components/responses/createVideoEmbeddingTaskResponse'
        '400':
          $ref: '#/components/responses/genericError'

    get:
      summary: List video embedding tasks
      description: |
        This method returns a list of the video embedding tasks in your account. The platform returns your video embedding tasks sorted by creation date, with the newest at the top of the list.   
        
        **NOTES**:
        - Video embeddings are stored for seven days
        - When you invoke this method without specifying the `started_at` and `ended_at` parameters, the platform returns all the video embedding tasks created within the last seven days.  
      operationId: list-video-embedding-tasks
      tags:
          - Create video embeddings
      parameters:
        - $ref: "#/components/parameters/x-api-key"
        - $ref: "#/components/parameters/started_at"
        - $ref: "#/components/parameters/ended_at"
        - $ref: "#/components/parameters/embedding_tasks_filter_status"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/page_limit"
      responses:
        "200":
          $ref: "#/components/responses/listVideoEmbeddingTasksResponse"
        "400":
          $ref: "#/components/responses/genericError"
    
  '/embed/tasks/{task_id}/status':
    get:
      summary: Retrieve the status of a video embedding task
      description: |
        This method retrieves the status of a video embedding task. Check the task status of a video embedding task to determine when you can retrieve the embedding.

        A task can have one of the following statuses:
        - `processing`: The platform is creating the embeddings.
        - `ready`:  Processing is complete. Retrieve the embeddings by invoking the [`GET`](/reference/retrieve-video-embeding) method of the `/embed/tasks/{task_id} endpoint`.
        - `failed`: The task could not be completed, and the embeddings haven't been created.
      operationId: retrieve-video-embeding-task
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/video-embedding-task-id'
      tags:
        - Create video embeddings
      responses:
        '200':
          $ref: '#/components/responses/retrieveVideoEmbeddingTaskStatusResponse'
        '400':
          $ref: '#/components/responses/genericError'
    
  '/embed/tasks/{task_id}':
    get:
      summary: Retrieve video embeddings
      description: |
        This method retrieves embeddings for a specific video embedding task. Ensure the task status is `ready` before invoking this method. Refer to the [Retrieve a video embedding](/reference/retrieve-video-embeding-task) task page for instructions on checking the task status.
      operationId: retrieve-video-embeding
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/video-embedding-task-id'
      tags:
        - Create video embeddings
      responses:
        '200':
          $ref: '#/components/responses/retrieveVideoEmbeddingResponse'
        '400':
          $ref: '#/components/responses/genericError'

#################################
###   Any-to-video search   ###
#################################

  '/search-v2':
    summary: Any-to-video search
    post:
      summary: Make any-to-video search requests 
      description: |
        Use this endpoint to search for relevant matches in an index using text or various media queries.
        
        **Text queries**:
        - Use the `query_text` parameter to specify your query.
        
        **Media queries**:
        - Set the `query_media_type` parameter to the corresponding media type (example: `image`).
        - Specify either one of the following parameters:
          - `query_media_url`: Publicly accessible URL of your media file.
          - `query_media_file`: Local media file.
          If both `query_media_url` and `query_media_file` are specified in the same request, `query_media_url` takes precedence.

        Before using a media file as a query, ensure that the file meets the [prerequisites](/docs/single-queries-prerequisites).

        **NOTE**: This endpoint is rate-limited. For details, see the [Rate limits](/docs/rate-limits) page.

      operationId: any-to-video-search 
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/multipart'
      tags:
        - Any-to-video search
      requestBody:
        $ref: '#/components/requestBodies/any-to-video-search'
      responses:
        '200':
          $ref: '#/components/responses/searchResultsResponse'
        '400':
          $ref: '#/components/responses/genericError'
        '429':
          description: |
            If the rate limit is reached, the platform returns an `HTTP 429 - Too many requests` error response. The response body is empty.

  '/search-v2/{page-token}':
    get:
      summary: Retrieve a specific page of search results
      tags:
        - Any-to-video search
      description: |
        Use this endpoint to retrieve a specific page of search results.

        **NOTE**: When you use pagination, you will not be charged for retrieving subsequent pages of results.
      operationId: any-to-video--retrieve-specific-page
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: page-token
          in: path
          required: true
          description: |
            A token that identifies the page to retrieve.
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/searchResultsResponsePageId'
        '400':
          $ref: '#/components/responses/searchResultsError'

#######################
###   Components   ####
#######################

components:
  schemas:

    EmbeddingResponse:
      type: object
      properties:
        engine_name:
          type: string
          description: The name ofhe video understanding engine the platform has used to create this embedding.
          example: Marengo-retrieval-2.6
      anyOf:
        - $ref: '#/components/schemas/AudioEmbeddingResponse'
        - $ref: '#/components/schemas/ImageEmbeddingResponse'
        - $ref: '#/components/schemas/TextEmbeddingResponse'
    
    AudioEmbeddingResponse:
      type: object
      title: Audio embedding 
      properties:
        audio_embedding:
          $ref: '#/components/schemas/AudioEmbeddingResult'
      example:
        audio_embedding:
          segments:
            - start_offset_sec: 0
              float: [-0.042632885, 0.014312328, 0.029209055]
        is_success: true
        metadata:
          input_filename: "01.mp3"


    
    ImageEmbeddingResponse:
      type: object
      title: Image embedding
      required:
        - image_embedding
      properties:
        image_embedding:
          $ref: '#/components/schemas/EmbeddingResult'

    TextEmbeddingResponse:
      type: object
      title: Text embedding
      required:
        - text_embedding
      properties:
        text_embedding:
          $ref: '#/components/schemas/TextEmbeddingResult'

    TextEmbeddingResult:
      type: object
      description: An object containing the generated embedding vector and associated information.
      properties:
        error_message:
          type: string
          description: Error message if the embedding generation failed.
        float:
          type: array
          description: |
            An array of 1024 floating point numbers representing the embedding. You can use this array with cosine similarity for various downstream tasks. Note that the example response was truncated for brevity.
          items:
            type: number
            format: float
          minItems: 1024
          maxItems: 1024
        is_success:
          type: boolean
          description: This field indicates whether the embedding generation was successful.
    
    AudioEmbeddingResult:
      type: object
      description: |
        An object that contains, among other fields, an array named `segments`. Each item of the `segments` array corresponds to an embedding.
      properties:
        segments:
          type: array
          description: |
            An object that contains the embedding and its start time.
          items:
            $ref: '#/components/schemas/Segment'
        is_success:
          type: boolean
          description: This field indicates whether the embedding generation was successful.
        error_message:
          type: string
          description: Error message if the embedding generation failed.
        metadata:
          type: object
          description: |
            Metadata about the embedding. 
          properties:
            input_url:
              type: string
              description: |
                The URL of the audio file used to generate the embedding. Present if a URL was provided in the request.
            input_filename:
              type: string
              description: |
                The name of the audio file used to generate the embedding. Present if a file was provided in the request.
  
    
    Segment:
      type: object
      properties:
        float:
          type: array
          description: An array of 1024 floating point numbers representing the embedding. You can use this array with cosine similarity for various downstream tasks. Note that the example response was truncated for brevity.
          items:
            type: number
            format: float
          minItems: 1024
          maxItems: 1024
        start_offset_sec:
          type: number
          description: The start time, in seconds, from which the platform generated the audio embedding.

    EmbeddingResult:
      type: object
      description: An object containing the generated embedding vector and associated information.
      properties:
        error_message:
          type: string
          description: Error message if the embedding generation failed.
        float:
          type: array
          description: An array of 1024 floating point numbers representing the embedding. You can use this array with cosine similarity for various downstream tasks. Note that the example response was truncated for brevity.
          items:
            type: number
            format: float
          minItems: 1024
          maxItems: 1024
        is_success:
          type: boolean
          description: This field indicates whether the embedding generation was successful.
        metadata:
          type: object
          description: |
            Metadata about the embedding. 
          properties:
            input_url:
              type: string
              description: |
                The URL of the video file used to generate the embedding. Present if a URL was provided in the request.
            input_filename:
              type: string
              description: |
                The name of the video file used to generate the embedding. Present if a file was provided in the request.

    end_time:
      type: number
      description: |
        The end time of the matching video clip, expressed in seconds.  

    start_time:
      type: number
      description: |
        The start time of the matching video clip, expressed in seconds.
    
    score_search_terms:
      type: string
      description: |
        A quantitative value determined by the AI engine representing the level of confidence that the results match your search terms.

    max_confidence:
      type: string
      description: |
        A qualitative indicator based on the value of the `max_score` field. This field can take one of the following values:
          - `high`
          - `medium`
          - `low`
          - `extremely low`
    confidence:
      type: string
      description: |
        A qualitative indicator based on the value of the `score` field. This field can take one of the following values:
        - `high`
        - `medium`
        - `low`
        - `extremely low`
    modules:
      type: array
      description: |
        When the request specifies multiple sources of information, this array indicates the confidence level that the result is accurate for each matching source of information.
      items:
        description: |
          Each element is a dictionary.
        type: object
        properties:
            type:
              type: string
              description: |
                The source of information for which the video clip matched your search terms. It can take one of the following values: `conversation`, `visual`,  `text_in_video`, and `logo`.
            confidence:
              type: string
              description: |
                The confidence level that the result is accurate.

    thumbnail_url:
      type: string
      description: |
        If thumbnail generation has been enabled for this index, the platform returns a string representing the URL of the thumbnail. Note that the URL expires in one hour.


    total_results:
      description: The total number of results. 
      type: integer

    page:
      description: The page you retrieved.
      type: integer

    total_page:
      type: integer
      description: The total number of pages.

    limit_per_page_simple:
      type: integer
      description: The maximum number of items on each page.

    total_inner_matches:
      type: integer 
      description: |
        When grouping by video, the platform return this field that shows the total number of video clips matching your query.

    next_page_token:
      type: string
      description: The unique identifier of the next page.

    search_pool:
      type: object
      description: An object that contains details about the index you queried.
      properties:
        total_count:
          type: integer
          description: The number of videos in the index you queried.
        total_duration:
          type: number
          description: The total duration of the videos.
        index_id:
          type: string
          description: The unique identifier of the index.

    conversation_option:
      description: |
        Specifies the type of match the platform will perform. The following values are supported: `semantic` and `exact_match`. For details, see the [Conversation option](/docs/conversation-option) page.

        **Default:** `semantic`
      default: semantic
      enum:
      - semantic
      - exact_match
      type: string

    conversation_option_any_to_video:
      description: |
        Specifies the type of match the platform performs.
          
        When using image queries:
        - This parameter must be set to `semantic`.
        
        When using text queries, supported values are:
        - `semantic`
        - `exact_match`
        For details, see the [Conversation option](/docs/conversation-option) page.

        **Default:** `semantic`
      default: semantic
      enum:
      - semantic
      - exact_match
      type: string

    include_clips:
      description: |
        When this parameter is set to `true`, the platform will return detailed information about each matching video clip.

        **Default:** false
      default: false
      type: boolean
    
    classes:
      type: array
      required:
        - name
        - prompts
      description: |
        An array of objects containing the names and the definitions of entities or actions that the platform must identify.
      items:
        $ref: '#/components/schemas/classesObject'
      minItems: 1

      
    classesObject:
      type: object
      required:
      - name
      - prompts
      properties:
        name:
          type: string
          description: A string representing the name you want to give this class. Make sure you use brief and meaningful names.
        prompts:
          description: |
            An array of strings that specifies what the class contains. The platform will classify your videos based on this array. Note that the total number of prompts you specify in a request must not exceed 100.
          example:
          - Truck
            Sedan
            SUV
            Convertible
          items:
            type: string
          minItems: 1
          maxItems: 100
          type: array
        options:
          description: |
            If set, overides the options for this class.
          items:
            enum:
            - conversation
            - text_in_video
            - visual
            type: string
          minItems: 1
          type: array
        conversation_option:
          description: |
            If set, overides the conversation option for this class.
          default: semantic
          enum:
          - semantic
          - exact_match
          type: string


    labels:
      description: |
        An array of objects containing the names and the definitions of entities or actions that the platform must identify.
      items:
        $ref: '#/components/schemas/classifyLabel'
      minItems: 1
      type: array

    options:
      description: |
        An array that specifies the sources of information the platform uses when it categorizes a video. For details, see the [Search options](/docs/search-options) page.
      items:
        enum:
        - conversation
        - text_in_video
        - visual
        - logo
        type: string
      minItems: 1
      type: array

    options_classify:
      description: |
        An array that specifies the sources of information the platform uses when it categorizes a video. For details, see the [Search options](/docs/search-options) page.
      items:
        enum:
        - conversation
        - text_in_video
        - visual
        type: string
      minItems: 1
      type: array

    threshold:
      description: |
        Use this parameter to filter on the level of confidence that the results match your labels.

        **Default:** `low`
      default: low
      enum:
      - high
      - medium
      - low
      - none
      type: string
    
    threshold_search:
      description: |
        Use this parameter to filter on the level of confidence that the results match your query.

        **Default:** `low`
      default: low
      enum:
      - high
      - medium
      - low
      - none
      type: string

    thresholdClassifyNew:
      description: |
        Use this parameter to filter on the level of confidence that the results match your prompts.

        **Min**: 0
        **Max**: 100
        **Default:** 75
      default: 75
      type: integer

    classifyPageInfo:
      properties:
        page_expired_at:
          type: string
          description: |
            A string representing the date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), that the page expires.
        limit_per_page:
          $ref: '#/components/schemas/limit_per_page_simple'
        next_page_token:
          $ref: '#/components/schemas/next_page_token' 
        prev_page_token:
          type: string
          description: |
            The unique identifier of the previous page. If this is the first page, the API returns an empty string.
        total_results:
          $ref: '#/components/schemas/total_results' 
      type: object

    classifyLabel:
      type: object
      required:
      - name
      - prompts
      properties:
        name:
          description: A string representing the name you want to give this label.
          example: Car Shapes
          type: string
        prompts:
          description: |
            An array of strings that specifies what the label contains.
          example:
          - Truck
            Sedan
            SUV
            Convertible
          items:
            type: string
          minItems: 1
          type: array



    classifyLabelResult:
      description: |
        An array containing information about the video clips that match the the prompts you've specified.
      properties:
        classes: 
          description: |
            An array of objects containing information about each of the matching video clips. This field is included in the response only when you set the value of the `include_clips` parameter to `true`.
          items:
            $ref: "#/components/schemas/classifyClip"
          type: array

        confidence:
          $ref: '#/components/schemas/max_confidence'
        duration:
          description: The total duration of the matching video clips.
          type: number
        max_score:
          description: |
            When classifying a video, the platform finds all video clips that match the label you've specified in the request. For each video clip found, the platform determines the level of confidence that the clip matches the label. The `max_score` field is determined by comparing the confidence scores of each clip and selecting the highest one.
          type: number
        name:
          description: The name of the label.
          type: string



    classifyClip:
      name: clasifyClip
      description: An array containing information about the video clips that match the label you've specified.
      properties:
        confidence:
          $ref: '#/components/schemas/confidence'
        end:
          $ref: '#/components/schemas/end_time'
        score:
          type: number
          description: |
            A number indicating the confidence level that the video clips match the specified class.
        option:
          type: string
          description: Indicates the type of search the platform performed.
        prompt:
          type: string
          description: Indicates the prompt that the platform used.
        start:
          $ref: '#/components/schemas/start_time'
        thumbnail_url:
          $ref: '#/components/schemas/thumbnail_url'
      type: object

    engine:
      description: 'Engine object'
      title: Engine
      type: object
      properties:
        _id:
          type: string
          description: |
            A string representing the identifier of the engine.
        allowed_engine_options:
          type: array
          description: |
            An array of strings representing the supported engine options for each engine. For details, see the [Engine options](/docs/engine-options) page.
          items:
            type: string
        author:
          type: string
          description: |
            A string indicating who created the index.
        created_at:
          type: string
          description: |
            A string representing the date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), that the engine was created.
        updated_at:
          type: string
          description: |
            A string representing the date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), that the engine was updated.
        finetune:
          type: boolean
          description: |
            A boolean indicating whether this engine supports fine-tunning.
        ready:
          type: boolean
          description: A boolean specifying whether this engine is ready to be used.
      example:
        id: marengo2.6
        created_at: '2023-04-12 11:49:26.663 +0000 UTC'
        updated_at: '2023-04-12 11:49:26.663 +0000 UTC'
        allowed_index_options:
          - visual
          - text_in_video
          - conversation
          - logo
        author: twelve_labs
        finetune: false
        ready: true

    index:
      title: Index
      description: |
        An index groups one or more videos stored as vectors and is the most granular level at which you can perform a search.
      type: object
      properties:
        _id:
          type: string
          description: A string representing the unique identifier of the index. It is assigned by the API when an index is created.
        created_at:
          type: string
          description: A string representing the date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), that the index was created.
        updated_at:
          type: string
          description: A string representing the date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), that the index has been updated.
        expires_at:
          type: string
          description: |
            A string representing the date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), when your index will expire.

            If you're on the Free plan, the platform retains your index data for 90 days from creation. After this period, the platform deletes your index data, and this action cannot be undone. To continue using your index beyond this period, consider upgrading to the Developer plan, which offers unlimited index retention. For details, see the [Upgrade your plan](/docs/manage-your-plan#upgrade-your-plan) section.

            If you're on the Developer plan, this field is set to `null`, indicating no expiration.
        index_name:
          type: string
          description: A string representing the name of the index.
        total_duration:
          type: number
          description: A number representing the total duration, in seconds, of the videos in the index.
        video_count:
          type: number
          description: The number of videos uploaded to this index.
        engines:
          type: array
          description: An array containing the list of the [video understanding engines](/docs/video-understanding-engines) enabled for this index.
          items:
            type: object
            properties:
              engine_name:
                type: string
                description: A string representing the name of the engine.
              engine_options:
                type: array
                description: |
                  An array of strings that contains the [engine options](/docs/engine-options) enabled for this index.
                items:
                  type: string
              addons:
                type: array
                description: The list of the add-ons that are enabled for this index.
                items:
                  type: string

    videoEmbeddingTask:
      title: Video Embedding Task
      type: object
      properties:
        _id:
          type: string
          description: |
            The unique identifier of the video embedding task.
        engine_name:
          type: string
          description: |
            The name of the engine the platform uses to create the embeddings.
        status:
          type: string
          description: |
            A string indicating the status of the video indexing task. It can take one of the following values: `processing`, `ready` or `failed`.
        created_at:
          type: string
          format: date-time
          description: |
            The date and time, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"), that the video embedding task was created.
        # video_embeddings:
        #   type: array
        #   description: |
        #     An array of objects containing your embeddings. This object is returned only if the platform has finished processing your video and the status of the video embedding task is `ready`.
        #   items:
        #     type: object
        #     description: |
        #       Each object corresponds to an embedding and has the following fields:
        #     properties:
        #       start_offset_sec:
        #         type: number
        #         format: float
        #         description: |
        #           The start time of the video segment for this embedding. If the embedding scope is `video`, this field equals `0`.
        #       end_offset_sec:
        #         type: number
        #         format: float
        #         description: |
        #           The end time of the video segment for this embedding. If the embedding scope is `video`, this field equals the duration of the video.
        #       embedding_scope:
        #         type: string
        #         description: |
        #           Indicates the scope of this embedding. It can take the following values:
        #           - `video`: This embedding if for the entire video.
        #           - `clip`: This embedding is for a specific segment.
        #       embedding:
        #         description: |
        #           An object containing the generated embedding vector and associated information.
        #         type: object
        #         properties:
        #           float:
        #             type: array
        #             description: |
        #               An array of 1024 floating point numbers representing the embedding. You can use this array with cosine similarity for various downstream tasks. Note that the example response was truncated for brevity.
        #             items:
        #               type: number
        #               format: float
        #             minItems: 1024
        #             maxItems: 1024
        #           error_message:
        #             type: string
        #             description: Error message if the embedding generation failed.
        #           is_success:
        #             type: boolean
        #             description: This field indicates whether the embedding generation was successful.
        metadata:
          type: object
          description: |
            An object containing metadata about the video.
          properties:
            input_filename:
              type: string
              description: |
                The name of the video file. The platform returns this field when you upload a video from your local file system.
            input_url:
              type: string
              description: |
                The URL of the video. The platform returns this field when you upload a video  from a publicly accessible URL.
            video_clip_length:
              type: number
              description:  The duration for each clip in seconds, as specified by the `video_clip_length` parameter of the [`POST`](/reference/create-video-embeding-task) method of the `/embed/task` endpoint. Note that the platform automatically truncates video segments shorter than 2 seconds. For a 31-second video divided into 6-second segments, the final 1-second segment will be truncated. This truncation only applies to the last segment if it does not meet the minimum length requirement of 2 seconds.
            video_embedding_scope:
              type: array
              description: |
                The scope you've specified in the request. It can take one of the following values: ['clip'] or ['clip', 'video'].
              items:
                type: string
            duration_mins:
              type: number
              format: float
              description: The total duration of the video in seconds. 

    videoIndexingTask:
      title: Video Indexing Task
      type: object
      properties:
        _id:
          type: string
          description: |
            A string representing the unique identifier of the task. It is assigned by the platform when a new task is created.
        created_at:
          type: string
          description: 'A string indicating the date and time, in the RFC [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"), that the task was created.'
        updated_at:
          type: string
          description: |
            A string indicating the date and time, in the RFC [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"), that the task object was last updated. The platform updates this field every time the video indexing task transitions to a different state.
        status:
          type: string
          description: A string indicating the status of the video indexing task. See the [Task object](/reference/the-task-object) page for a list of possible statuses.
        estimated_time:
          type: string
          description: |
            A string indicating the estimated completion date and time of the video indexing task, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ").
        index_id:
          type: string
          description: |
            A string representing the unique identifier of the index to which the video must be uploaded.
        metadata:
          type: object
          description: |
            An object that contains information about the video.
          properties:
            duration:
              type: number
            filename:
              type: string
            height:
              type: integer
            width:
              type: integer
      example:
        _id: 62a17bf847f5678267ec10cc
        created_at: 2022-06-09T04:50:00.879Z
        updated_at: 2022-06-09T04:55:57.256Z
        status: ready
        estimated_time: 2022-06-09T04:55:53.746Z
        index_id: 630aff993fcee0532cb809d0
        metadata:
          duration: 531.998133
          filename: 01.mp4
          height: 480
          width: 854

    videoVector:
      type: object
      title: Video Vector
      properties:
        _id:
          type: string
          description: |
            A string representing the unique identifier of a video. The platform creates a new `video_vector` object and assigns it a unique identifier when the video has successfully been indexed. Note that video IDs are different from task IDs.
        created_at:
          type: string
          description: |
            A string indicating the date and time, in the RFC [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"), that the video indexing task was created.
        updated_at:
          type: string
          description: |
            A string indicating the date and time, in the RFC [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"), that the video indexing task object was last updated. The platform updates this field every time the video indexing task transitions to a different state.
        indexed_at:
          type: string
          description: |
            A string indicating the date and time, in the RFC [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"), that the video indexing task has been completed.
        metadata:
          type: object
          description: |
            An object that contains information about the video.
          properties:
            filename:
              type: string
              example: 01.mp4
            duration:
              type: number
            fps:
              type: number
            width:
              type: integer
            height:
              type: integer
            size:
              type: number
      example:
        _id: 62bac61c154f59c87660cea3
        created_at: 2022-06-28T09:12:54
        updated_at: 2022-06-28T09:13:00Z
        indexed_at: 2022-06-28T09:26:42Z
        metadata:
          filename: 01.mp4
          duration: 741.875
          fps: 741.875
          width: 640
          height: 360
          size: 65749715


######################
###   Parameters   ###
######################

  parameters:
    video-embedding-task-id:
      name: task_id
      in: path
      description: |
        The unique identifier of your video embedding task.
      required: true
      schema:
        type: string

    Content-Type:
      name: Content-Type
      in: header
      description: Must be set to `application/json`.
      required: true
      schema:
        type: string
        default: application/json
    x-api-key:
      name: x-api-key
      in: header
      description: |
        Your API key.
        
        **NOTE:** You can find your API key on the <a href="https://playground.twelvelabs.io/dashboard/api-key" target="_blank">API Key</a> page.
      required: true
      schema:
        type: string
    multipart:
      name: Content-Type
      in: header
      description: Must be set to `multipart/form-data`.
      required: true
      schema:
        type: string
        default: multipart/form-data
    page:
      name: page
      in: query
      description: |
        A number that identifies the page to retrieve.

        **Default**: `1`.
      schema:
        type: integer
        default: 1
      required: false
    page_limit:
      name: page_limit
      in: query
      description: |
        The number of items to return on each page.
        
        **Default**: `10`.
        **Max**: `50`.
      schema:
        type: integer
        default: 10
      required: false
    sort_by:
      name: sort_by
      in: query
      description: |
        The field to sort on. The following options are available:
        - `updated_at`: Sorts by the time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), when the item was updated.
        - `created_at`: Sorts by the time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), when the item was created.

        **Default**: `created_at`.
      schema:
        type: string
        default: created_at
      required: false
    sort_option:
      name: sort_option
      in: query
      description: |
        The sorting direction. The following options are available:
        - `asc` 
        - `desc`

        **Default**: `desc`.
      schema:
        type: string
        default: desc
      required: false
    _id:
      name: _id
      in: query
      description: |
        Filter by the unique identifier of a video indexing task. 
      schema:
        type: string
      required: false
    index_id:
      name: index_id
      in: query
      description: |
        Filter by the unique identifier of an index.
      schema:
        type: string
      required: false
    filename:
      name: filename
      in: query
      description: |
        Filter by filename.
      schema:
        type: string
      required: false
    duration:
      name: duration
      in: query
      description: |
        Filter by duration. Expressed in seconds.
      schema:
        type: number
      required: false
    width:
      name: width
      in: query
      description: |
        Filter by width.
      schema:
        type: integer 
      required: false
    height:
      name: height
      in: query
      description: |
        Filter by height.
      schema:
        type: integer
      required: false
    created_at:
      name: created_at
      in: query
      description: |
        Filter video indexing tasks by the creation date and time, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the video indexing tasks that were created on the specified date at or after the given time.
      schema:
        type: string
      required: false
    updated_at:
      name: updated_at
      in: query
      description: |
        Filter video indexing tasks by the last update date and time, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the video indexing tasks that were updated on the specified date at or after the given time.
      schema:
        type: string
      required: false
    estimated_time:
      name: estimated_time
      in: query
      description: |
        Filter video indexing tasks by the estimated completion date and time, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the video indexing tasks estimated to be completed on the specified date at or after the given time.
      schema:
        type: string
      required: false

    ended_at:
      name: ended_at
      description: |
        Retrieve the video embedding tasks that were created before the given date and time, expressed in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"). 
      in: query
      schema:
        type: string
      required: false
    started_at:
      name: started_at
      description: |
        Retrieve the video embedding tasks that were created after the given date and time, expressed in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ").
      in: query
      schema:
        type: string
      required: false
    embedding_tasks_filter_status:
      name: status
      description: Filter video embedding tasks by their current status. Possible values are `processing`, `ready`, or `failed`.
      in: query
      schema:
        type: string
      required: false

#####################
###   Responses   ###
#####################

  responses:

    searchResultsResponsePageId:
      description: Successfully retrieved the specified page of search results.
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: An array that contains your search results. For each match found, the engine returns the following fields.
                items:
                  type: object
                  properties:
                    score:
                      $ref: '#/components/schemas/score_search_terms'
                    start:
                      $ref: '#/components/schemas/start_time'
                    end:
                      $ref: '#/components/schemas/end_time'
                    video_id:
                      type: string
                      description: A string representing the unique identifier of the video. Once the platform indexes a video, it assigns a unique identifier. Note that this is different from the identifier of the video indexing task.
                    metadata:
                      type: array
                      description: |
                        An array of objects where each object contains details about a specific type of match and has the following fields:
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            description: A string that indicates the type of match (`visual`, `conversation`, `text_in_video`, or `logo`).
                          text:
                            type: string
                            description: For `conversation` and `text_in_video`, the API returns a transcription of the spoken words or the text that matches your search query.
                    confidence:
                      $ref: '#/components/schemas/confidence'
                    thumbnail_url:
                      $ref: '#/components/schemas/thumbnail_url'
                    modules:
                      $ref: '#/components/schemas/modules'
[...]
