openapi: 3.1.0
info:
  title: Twelve Labs Video Understanding API
  description: |
    Use the Twelve Labs Video Understanding API to extract information from your videos and make it available to your applications. The API is organized around REST and returns responses in the JSON format. It is compatible with most programming languages, and you can also use Postman or other REST clients to send requests and view responses.
  contact:
    name: Twelve Labs Support
    email: support@twelvelabs.io
  version: 1.3.0
servers:
  - url: https://api.twelvelabs.io/v1.3
tags:
  - name: Manage indexes
  - name: Upload videos
  - name: Manage videos
  - name: Any-to-video search
  - name: Create video embeddings
  - name: Generate text from video
  - name: Create text, image, and audio embeddings
paths:
  /tasks:
    post:
      summary: Create a video indexing task
      description: |
        This method creates a video indexing task that uploads and indexes a video.
        Ensure your video meets the requirements in the [Prerequisites](/docs/upload-single-videos#prerequisites) section of the **Upload single videos** page.

        Upload options:
        - **Local file**: Use the `video_file` parameter.
        - **Publicly accessible URL**: Use the `video_url` parameter.

        **NOTES**:
        - The platform supports video URLs that can play without additional user interaction or custom video players. Ensure your URL points to the raw video file, not a web page containing the video. Links to third-party hosting sites, cloud storage services, or videos requiring extra steps to play are not supported.
        - This endpoint is rate-limited. For details, see the [Rate limits](/docs/rate-limits) page.
      operationId: create-video-indexing-task
      tags:
        - Upload videos
      requestBody:
        $ref: '#/components/requestBodies/createVideoIndexingTask'
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/multipart'
      responses:
        '200':
          $ref: '#/components/responses/createVideoIndexingTaskResponse'
        '400':
          $ref: '#/components/responses/insufficientFunds'
    get:
      summary: List video indexing tasks
      description: This method returns a list of the video indexing tasks in your account. The API returns your video indexing tasks sorted by creation date, with the newest at the top of the list.
      operationId: list-video-indexing-tasks
      tags:
        - Upload videos
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_limit'
        - $ref: '#/components/parameters/sort_by'
        - $ref: '#/components/parameters/sort_option'
        - $ref: '#/components/parameters/index_id'
        - $ref: '#/components/parameters/task_status'
        - $ref: '#/components/parameters/filename'
        - $ref: '#/components/parameters/duration'
        - $ref: '#/components/parameters/width'
        - $ref: '#/components/parameters/height'
        - $ref: '#/components/parameters/created_at'
        - $ref: '#/components/parameters/updated_at'
      responses:
        '200':
          $ref: '#/components/responses/getVideoIndexingTasksResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /tasks/{task_id}:
    get:
      summary: Retrieve a video indexing task
      description: This method retrieves a video indexing task.
      operationId: retrieve-video-indexing-task
      tags:
        - Upload videos
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: task_id
          in: path
          description: |
            The unique identifier of the video indexing task to retrieve.
          required: true
          schema:
            type: string
          example: 6298d673f1090f1100476d4c
      responses:
        '200':
          $ref: '#/components/responses/getVideoIndexingTaskResponse'
        '400':
          $ref: '#/components/responses/genericError'
    delete:
      summary: Delete a video indexing task
      description: |
        This action cannot be undone.
        Note the following about deleting a video indexing task:
        - You can only delete video indexing tasks for which the status is `ready` or `failed`.
        - If the status of your video indexing task is `ready`, you must first delete the video vector associated with your video indexing task by calling the [`DELETE`](/reference/delete-video-information) method of the `/indexes/videos` endpoint.
      operationId: delete-video-indexing-task
      tags:
        - Upload videos
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: task_id
          in: path
          description: |
            The unique identifier of the video indexing task you want to delete.
          required: true
          schema:
            type: string
          example: 6298d673f1090f1100476d4c
      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /tasks/transfers/import/{integration-id}:
    post:
      summary: Import videos
      description: |
        An import represents the process of uploading and indexing all videos from the specified integration. This method initiates an asynchronous import and returns two lists:
        - Videos that will be imported.
        - Videos that will not be imported, typically due to unmet [prerequisites](/docs/upload-single-videos#prerequisites).

        The actual uploading and indexing of videos occur asynchronously after you invoke this method. To monitor the status of each upload after invoking this method, use the [Retrieve import status](/reference/cloud-to-cloud-retrieve-status) method.

        **NOTES**:
        - Before importing videos, you must set up an integration. For details, see the [Set up an integration](/docs/upload-cloud#set-up-an-integration) section.
        - The videos you wish to upload must meet the requirements in the [Prerequisites](/docs/upload-single-videos#prerequisites) section of the **Upload single videos** page.
        - By default, the platform checks for duplicate files using hashes within the target index and will not upload the same video to the same index twice. However, the same video can exist in multiple indexes. To bypass duplicate checking entirely and import duplicate videos into the same index, set the value of the `incremental_import` parameter to `false`.
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: integration-id
          description: The unique identifier of the integration for which you want to import videos. You can retrieve it from the [Integrations](https://playground.twelvelabs.io/dashboard/integrations) page.
          in: path
          required: true
          schema:
            type: string
          example: 6298d673f1090f1100476d4c
      operationId: cloud-to-cloud-import-videos
      requestBody:
        $ref: '#/components/requestBodies/cloud-to-cloud-import-videos-request'
      tags:
        - Upload videos
      responses:
        '201':
          $ref: '#/components/responses/cloud-to-cloud-import-videos-response'
        '400':
          $ref: '#/components/responses/genericError'
  /tasks/transfers/import/{integration-id}/status:
    get:
      summary: Retrieve import status
      description: This method retrieves the current status for each video from a specified integration and index. It returns an object containing lists of videos grouped by status. See the [Task object](/reference/the-task-object) page for details on each status.
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: integration-id
          description: The unique identifier of the integration for which you want to retrieve the status of your imported videos. You can retrieve it from the [Integrations](https://playground.twelvelabs.io/dashboard/integrations) page.
          in: path
          required: true
          schema:
            type: string
          example: 6298d673f1090f1100476d4c
        - name: index_id
          in: query
          description: |
            The unique identifier of the index for which you want to retrieve the status of your imported videos.
          required: true
          schema:
            type: string
          example: 6298d673f1090f1100476d4c
      operationId: cloud-to-cloud-retrieve-status
      tags:
        - Upload videos
      responses:
        '200':
          $ref: '#/components/responses/cloud-to-cloud-retrieve-status-response'
        '400':
          $ref: '#/components/responses/genericError'
  /tasks/transfers/import/{integration-id}/logs:
    get:
      summary: Retrieve import logs
      description: |
        This endpoint returns a chronological list of import operations for the specified integration. The list is sorted by creation date, with the oldest imports first. Each item in the list contains:
        - The number of videos in each status
        - Detailed error information for failed uploads, including filenames and error messages.

        Use this endpoint to track import progress and troubleshoot potential issues across multiple operations.
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: integration-id
          in: path
          required: true
          schema:
            type: string
          example: 6298d673f1090f1100476d4c
          description: The unique identifier of the integration for which you want to retrieve the import logs. You can retrieve it from the [Integrations](https://playground.twelvelabs.io/dashboard/integrations) page.
      operationId: cloud-to-cloud-retrieve-import-logs
      tags:
        - Upload videos
      responses:
        '200':
          $ref: '#/components/responses/cloud-to-cloud-retrieve-import-logs-response'
        '400':
          $ref: '#/components/responses/genericError'
  /indexes:
    post:
      summary: Create an index
      description: |
        This method creates an index.
      operationId: create-index
      tags:
        - Manage indexes
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        $ref: '#/components/requestBodies/createIndex'
      responses:
        '201':
          $ref: '#/components/responses/createIndexResponse'
        '400':
          $ref: '#/components/responses/genericError'
    get:
      summary: List indexes
      description: |
        This method returns a list of the indexes in your account. The API returns indexes sorted by creation date, with the oldest indexes at the top of the list.
      operationId: list-indexes
      tags:
        - Manage indexes
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_limit'
        - $ref: '#/components/parameters/sort_by'
        - $ref: '#/components/parameters/sort_option'
        - name: index_name
          in: query
          description: Filter by the name of an index.
          required: false
          schema:
            type: string
          example: myIndex
        - name: model_options
          in: query
          description: |
            Filter by the model options. When filtering by multiple model options, the values must be comma-separated.
          required: false
          schema:
            type: string
          example: visual,audio
        - name: model_family
          in: query
          description: |
            Filter by the model family. This parameter can take one of the following values: `marengo` or `pegasus`. You can specify a single value.
          schema:
            type: string
          required: false
          example: marengo
        - name: created_at
          in: query
          description: |
            Filter indexes by the creation date and time, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the indexes that were created on the specified date at or after the given time.
          schema:
            type: string
          required: false
          example: '2024-08-16T16:53:59Z'
        - name: updated_at
          in: query
          description: |
            Filter indexes by the last update date and time, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the indexes that were last updated on the specified date at or after the given time.
          schema:
            type: string
          required: false
          example: '2024-08-16T16:55:59Z'
      responses:
        '200':
          $ref: '#/components/responses/getIndexesResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /indexes/{index-id}:
    get:
      summary: Retrieve an index
      description: |
        This method retrieves details about the specified index.
      operationId: retrieve-index
      tags:
        - Manage indexes
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: index-id
          in: path
          description: |
            Unique identifier of the index to retrieve.
          required: true
          schema:
            type: string
          example: 6298d673f1090f1100476d4c
      responses:
        '200':
          $ref: '#/components/responses/getIndexResponse'
        '400':
          $ref: '#/components/responses/genericError'
    put:
      summary: Update an index
      description: |
        This method updates the name of the specified index.
      operationId: update-index
      tags:
        - Manage indexes
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: index-id
          in: path
          description: |
            Unique identifier of the index to update.
          required: true
          schema:
            type: string
          example: 6298d673f1090f1100476d4c
      requestBody:
        $ref: '#/components/requestBodies/updateIndex'
      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'
    delete:
      summary: Delete an index
      description: This method deletes the specified index and all the videos within it. This action cannot be undone.
      operationId: delete-index
      tags:
        - Manage indexes
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: index-id
          in: path
          description: |
            Unique identifier of the index to delete.
          required: true
          schema:
            type: string
          example: 6298d673f1090f1100476d4c
      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /indexes/{index-id}/videos:
    get:
      summary: List videos
      operationId: list-videos
      description: |
        This method returns a list of the videos in the specified index. By default, the API returns your videos sorted by creation date, with the newest at the top of the list.
      tags:
        - Manage videos
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_limit'
        - $ref: '#/components/parameters/sort_by'
        - $ref: '#/components/parameters/sort_option'
        - name: index-id
          in: path
          description: The unique identifier of the index for which the API will retrieve the videos.
          schema:
            type: string
          required: true
          example: 6298d673f1090f1100476d4c
        - name: filename
          in: query
          description: |
            Filter by filename.
          required: false
          schema:
            type: string
          example: 01.mp4
        - name: duration
          in: query
          description: |
            Filter by duration. Expressed in seconds.
          schema:
            type: number
          example: 10
        - name: fps
          in: query
          description: |
            Filter by frames per second.
          required: false
          schema:
            type: number
          example: 25
        - name: width
          in: query
          description: |
            Filter by width.
          required: false
          schema:
            type: number
          example: 1920
        - name: height
          in: query
          description: |
            Filter by height.
          required: false
          schema:
            type: integer
          example: 1080
        - name: size
          in: query
          description: |
            Filter by size. Expressed in bytes.
          required: false
          schema:
            type: number
          example: 1048576
        - name: created_at
          in: query
          description: |
            Filter videos by the creation date and time of their associated indexing tasks, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the videos whose indexing tasks were created on the specified date at or after the given time.
          required: false
          schema:
            type: string
          example: '2024-08-16T16:53:59Z'
        - name: updated_at
          in: query
          description: |
            This filter applies only to videos updated using the [`PUT`](/reference/update-video-information) method of the `/indexes/{index-id}/videos/{video-id}` endpoint. It filters videos by the last update date and time, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the video indexing tasks that were last updated on the specified date at or after the given time.
          required: false
          schema:
            type: string
          example: '2024-08-16T16:53:59Z'
        - name: indexed_at
          in: query
          description: |
            Filter videos by the completion time of their associated indexing tasks, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the videos whose indexing tasks were completed on the specified date at or after the given time.
          required: false
          schema:
            type: string
          example: '2024-08-16T16:53:59Z'
        - name: user_metadata
          in: query
          description: |
            To enable filtering by custom fields, you must first add user-defined metadata to your video by calling the [`PUT`](/reference/update-video-information) method of the `/indexes/:index-id/videos/:video-id` endpoint.

            Examples:
            - To filter on a string: `?category=recentlyAdded`
            - To filter on an integer: `?batchNumber=5`
            - To filter on a float: `?rating=9.3`
            - To filter on a boolean: `?needsReview=true`
          schema:
            additionalProperties:
              oneOf:
                - type: string
                  example: recentlyAdded
                - type: number
                  example: 5
                - type: boolean
                  example: true
              example:
                category: recentlyAdded
                batchNumber: 5
                rating: 9.3
                needsReview: true
          style: form
          explode: true
          example: category=recentlyAdded&batchNumber=5&rating=9.3&needsReview=true
      responses:
        '200':
          $ref: '#/components/responses/getVideoVectorsResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /indexes/{index-id}/videos/{video-id}:
    get:
      summary: Retrieve video information
      description: |
        This method retrieves information about the specified video.
      operationId: retrieve-video-information
      tags:
        - Manage videos
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: index-id
          in: path
          description: |
            The unique identifier of the index to which the video has been uploaded.
          required: true
          schema:
            type: string
          example: 6298d673f1090f1100476d4c
        - name: video-id
          in: path
          description: |
            The unique identifier of the video to retrieve.
          required: true
          schema:
            type: string
          example: 6298d673f1090f1100476d4c
        - name: embed
          in: query
          description: |
            Set this parameter to `true` to retrieve the video embedding in the response. The video must be indexed with the Marengo video understanding model version 2.7 or later. For details on enabling this model for an index, see the [Create an index](/reference/create-index) page.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          $ref: '#/components/responses/getVideoVectorResponse'
        '400':
          $ref: '#/components/responses/genericError'
        '404':
          $ref: '#/components/responses/notFound'
    put:
      summary: Update video information
      description: Use this method to update the metadata of a video such as file name.
      operationId: update-video-information
      tags:
        - Manage videos
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: index-id
          in: path
          description: |
            The unique identifier of the index to which the video has been uploaded.
          required: true
          schema:
            type: string
          example: 6298d673f1090f1100476d4c
        - name: video-id
          in: path
          description: |
            The unique identifier of the video to update.
          required: true
          schema:
            type: string
          example: 6298d673f1090f1100476d4c
      requestBody:
        $ref: '#/components/requestBodies/update-video-vector'
      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'
    delete:
      summary: Delete video information
      operationId: delete-video-information
      tags:
        - Manage videos
      description: |
        This method deletes all the information about the specified video This action cannot be undone.
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: index-id
          in: path
          description: |
            The unique identifier of the index to which the video has been uploaded.
          required: true
          schema:
            type: string
          example: 6298d673f1090f1100476d4c
        - name: video-id
          in: path
          description: |
            The unique identifier of the video to delete.
          required: true
          schema:
            type: string
          example: 6298d673f1090f1100476d4c
      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /summarize:
    post:
      summary: Summaries, chapters, or highlights
      description: |
        This endpoint generates summaries, chapters, or highlights for your videos. Optionally, you can provide a prompt to customize the output.

        **NOTE**: This endpoint is rate-limited. For details, see the [Rate limits](/docs/rate-limits) page.
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
      operationId: summarize
      tags:
        - Generate text from video
      requestBody:
        $ref: '#/components/requestBodies/summarizeRequest'
      responses:
        '200':
          $ref: '#/components/responses/summarizeResponse'
        '400':
          $ref: '#/components/responses/genericError'
        '429':
          description: |
            If the rate limit is reached, the platform returns an `HTTP 429 - Too many requests` error response. The response body is empty.
  /generate:
    post:
      summary: Open-ended texts
      description: |
        This endpoint generates open-ended texts based on your videos, including but not limited to tables of content, action items, memos, and detailed analyses.

        **NOTES**:
        - This endpoint is rate-limited. For details, see the [Rate limits](/docs/rate-limits) page.
        - This endpoint supports streaming responses. For details on integrating this feature into your application, refer to the [Streaming response](/docs/streaming-responses) guide.
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
      operationId: generate-text-representation
      tags:
        - Generate text from video
      requestBody:
        $ref: '#/components/requestBodies/generateTextRepresentationRequest'
      responses:
        '200':
          description: The specified video has successfully been processed.
          headers:
            X-Ratelimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-Ratelimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-Ratelimit-Used:
              $ref: '#/components/headers/X-Ratelimit-Used'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
            Transfer-Encoding:
              schema:
                type: string
                description: The platform returns this header when the `stream` parameter is set to `true` in the request. It indicates that the response body is sent in chunks.
                default: chunked
                example: chunked
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: Streamed response
                    description: |
                      When the value of the `stream` parameter is set to `true`, the platform provides a streaming response in the NDJSON format.

                      The stream contains three types of events:
                      1. Stream start
                      2. Text generation
                      3. Stream end

                      To integrate the response into your application, follow the guidelines below:
                      - Parse each line of the response as a separate JSON object.
                      - Check the `event_type` field to determine how to handle the event.
                      - For `text_generation` events, process the `text` field as it arrives. Depending on your application's requirements, this may involve displaying the text incrementally, storing it for later use, or performing any tasks.
                      - Use the `stream_start` and `stream_end` events to manage the lifecycle of your streaming session.
                    oneOf:
                      - type: object
                        title: Stream start
                        description: |
                          Indicates the beginning of the stream.
                        properties:
                          event_type:
                            type: string
                            description: |
                              This field is always set to `stream_start` for this event.
                            example: stream_start
                          metadata:
                            type: object
                            description: An object containing metadata about the stream.
                            properties:
                              generation_id:
                                type: string
                                description: |
                                  A unique identifier for the generation session.
                                example: 2f6d0bdd-aed8-47b1-8124-3c9d8006cdc9
                            example:
                              generation_id: 2f6d0bdd-aed8-47b1-8124-3c9d8006cdc9
                        example:
                          event_type: stream_start
                          metadata:
                            generation_id: 2f6d0bdd-aed8-47b1-8124-3c9d8006cdc9
                      - type: object
                        title: Text generation
                        description: |
                          Contains a fragment of generated text. Note that text fragments may be split at arbitrary points, not necessarily at word or sentence boundaries.
                        properties:
                          event_type:
                            type: string
                            description: |
                              This field is always set to `text_generation` for this event.
                            example: text_generation
                          text:
                            type: string
                            description: |
                              A fragment of the generated text.
                            example: light-hearted moments of cats
                        example:
                          event_type: text_generation
                          text: light-hearted moments of cats
                      - type: object
                        title: Stream end
                        description: |
                          Indicates the end of the stream.
                        properties:
                          event_type:
                            type: string
                            description: |
                              This field is always set to `stream_end` for this event.
                            example: stream_end
                          metadata:
                            type: object
                            description: An object containing metadata about the stream.
                            properties:
                              generation_id:
                                type: string
                                description: |
                                  The same unique identifier provided in the `stream_start` event.
                                example: 2f6d0bdd-aed8-47b1-8124-3c9d8006cdc9
                            example:
                              generation_id: 2f6d0bdd-aed8-47b1-8124-3c9d8006cdc9
                        example:
                          event_type: stream_end
                          metadata:
                            generation_id: 2f6d0bdd-aed8-47b1-8124-3c9d8006cdc9
                    example:
                      event_type: stream_end
                      metadata:
                        generation_id: 2f6d0bdd-aed8-47b1-8124-3c9d8006cdc9
                  - type: object
                    description: |
                      When the value of the `stream` parameter is set to `false`, the response is as follows:
                    title: Non-streamed response
                    properties:
                      id:
                        description: |
                          Unique identifier of the response.
                        type: string
                        example: 2f6d0bdd-aed8-47b1-8124-3c9d8006cdc9
                      data:
                        description: |
                          The generated text based on the prompt you provided.
                        type: string
                        example: 1. Vlog\n2. Minnesota\n3. Mall of America\n4. Shopping haul\n5. Outdoor adventure
                    example:
                      id: 2f6d0bdd-aed8-47b1-8124-3c9d8006cdc9
                      data: 1. Vlog\n2. Minnesota\n3. Mall of America\n4. Shopping haul\n5. Outdoor adventure
              examples:
                non-streaming-response:
                  summary: Non-streamed response
                  value:
                    id: 2a22fd17-7bd4-446a-abd6-b9382cb18f90
                    data: 1. Vlog\n2. Minnesota\n3. Mall of America\n4. Shopping haul\n5. Outdoor adventure
                stream-start-response:
                  summary: Stream start
                  value:
                    event_type: stream_start
                    metadata:
                      generation_id: 2f6d0bdd-aed8-47b1-8124-3c9d8006cdc9
                text-generation-resonse:
                  summary: Text generation
                  value:
                    event_type: text_generation
                    text: light-hearted moments of cats
                stream-end-response:
                  summary: Stream end
                  value:
                    event_type: stream_end
                    metadata:
                      generation_id: 2f6d0bdd-aed8-47b1-8124-3c9d8006cdc9
        '400':
          $ref: '#/components/responses/genericError'
        '429':
          description: |
            If the rate limit is reached, the platform returns an `HTTP 429 - Too many requests` error response. The response body is empty.
  /embed:
    post:
      summary: Create embeddings for text, image, and audio
      description: |
        This method creates embeddings for text, image, and audio content.

        Before you create an embedding, ensure that the following prerequisites are met:
        - [Text embeddings](/docs/create-text-embeddings#prerequisites)
        - [Image embeddings](/docs/create-image-embeddings#prerequisites)
        - [Audio embeddings](/docs/create-audio-embeddings#prerequisites)

        Parameters for embeddings:
        - **Common parameters**:
          - `model_name`: The video understanding model you want to use. Example: "Marengo-retrieval-2.7".
        - **Text embeddings**:
          - `text`: Text for which to create an embedding.
        - **Image embeddings**:
          Provide one of the following:
          - `image_url`: Publicly accessible URL of your image file.
          - `image_file`:  Local image file.
        - **Audio embeddings**:
          Provide one of the following:
          - `audio_url`: Publicly accessible URL of your audio file.
          - `audio_file`: Local audio file.

        **NOTES**:
        - The "Marengo-retrieval-2.7" video understanding model generates embeddings for all modalities in the same latent space. This shared space enables any-to-any searches across different types of content.
        - You can create multiple types of embeddings in a single API call.
        - Audio embeddings combine generic sound and human speech in a single embedding. For videos with transcriptions, you can [retrieve transcriptions](/reference/retrieve-transcription) and then [create text embeddings](/reference/create-text-embedding) from these transcriptions.
      operationId: create-text-image-audio-embedding
      tags:
        - Create text, image, and audio embeddings
      requestBody:
        $ref: '#/components/requestBodies/createSyncEmbeddingRequest'
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/multipart'
      responses:
        '200':
          $ref: '#/components/responses/createSyncEmbeddingResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /embed/tasks:
    post:
      summary: Create a video embedding task
      description: |
        This method creates a new video embedding task that uploads a video to the platform and creates one or multiple video embeddings.

        Ensure your video meets the requirements in the [Prerequisites](/docs/create-video-embeddings#prerequisites) section of the **Create video embeddings** page.

        Upload options:
        - **Local file**: Use the `video_file` parameter
        - **Publicly accessible URL**: Use the `video_url` parameter.

        Specify at least one option. If both are provided, `video_url` takes precedence.

        **NOTES**:
        - The "Marengo-retrieval-2.7" video understanding model generates embeddings for all modalities in the same latent space. This shared space enables any-to-any searches across different types of content.
        - Video embeddings are stored for seven days.
        - The platform supports uploading video files that can play without additional user interaction or custom video players. Ensure your URL points to the raw video file, not a web page containing the video. Links to third-party hosting sites, cloud storage services, or videos requiring extra steps to play are not supported.
      operationId: create-video-embedding-task
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/multipart'
      tags:
        - Create video embeddings
      requestBody:
        $ref: '#/components/requestBodies/createVideoEmbeddingTaskRequest'
      responses:
        '200':
          $ref: '#/components/responses/createVideoEmbeddingTaskResponse'
        '400':
          $ref: '#/components/responses/genericError'
    get:
      summary: List video embedding tasks
      description: |
        This method returns a list of the video embedding tasks in your account. The platform returns your video embedding tasks sorted by creation date, with the newest at the top of the list.

        **NOTES**:
        - Video embeddings are stored for seven days
        - When you invoke this method without specifying the `started_at` and `ended_at` parameters, the platform returns all the video embedding tasks created within the last seven days.
      operationId: list-video-embedding-tasks
      tags:
        - Create video embeddings
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/started_at'
        - $ref: '#/components/parameters/ended_at'
        - $ref: '#/components/parameters/embedding_tasks_filter_status'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_limit'
      responses:
        '200':
          $ref: '#/components/responses/listVideoEmbeddingTasksResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /embed/tasks/{task_id}/status:
    get:
      summary: Retrieve the status of a video embedding task
      description: |
        This method retrieves the status of a video embedding task. Check the task status of a video embedding task to determine when you can retrieve the embedding.

        A task can have one of the following statuses:
        - `processing`: The platform is creating the embeddings.
        - `ready`:  Processing is complete. Retrieve the embeddings by invoking the [`GET`](/reference/retrieve-video-embedding) method of the `/embed/tasks/{task_id} endpoint`.
        - `failed`: The task could not be completed, and the embeddings haven't been created.
      operationId: retrieve-video-embedding-task
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/video-embedding-task-id'
      tags:
        - Create video embeddings
      responses:
        '200':
          $ref: '#/components/responses/retrieveVideoEmbeddingTaskStatusResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /embed/tasks/{task_id}:
    get:
      summary: Retrieve video embeddings
      description: |
        This method retrieves embeddings for a specific video embedding task. Ensure the task status is `ready` before invoking this method. Refer to the [Retrieve a video embedding](/reference/retrieve-video-embedding-task) task page for instructions on checking the task status.
      operationId: retrieve-video-embedding
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/video-embedding-task-id'
      tags:
        - Create video embeddings
      responses:
        '200':
          $ref: '#/components/responses/retrieveVideoEmbeddingResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /search:
    post:
      summary: Make any-to-video search requests
      description: |
        Use this endpoint to search for relevant matches in an index using text or various media queries.

        **Text queries**:
        - Use the `query_text` parameter to specify your query.

        **Media queries**:
        - Set the `query_media_type` parameter to the corresponding media type (example: `image`).
        - Specify either one of the following parameters:
          - `query_media_url`: Publicly accessible URL of your media file.
          - `query_media_file`: Local media file.
          If both `query_media_url` and `query_media_file` are specified in the same request, `query_media_url` takes precedence.

        Before using a media file as a query, ensure that the file meets the [prerequisites](/docs/single-queries-prerequisites).

        **NOTE**: This endpoint is rate-limited. For details, see the [Rate limits](/docs/rate-limits) page.
      operationId: any-to-video-search
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/multipart'
      tags:
        - Any-to-video search
      requestBody:
        $ref: '#/components/requestBodies/any-to-video-search'
      responses:
        '200':
          $ref: '#/components/responses/searchResultsResponse'
        '400':
          $ref: '#/components/responses/genericError'
        '429':
          description: |
            If the rate limit is reached, the platform returns an `HTTP 429 - Too many requests` error response. The response body is empty.
  /search/{page-token}:
    get:
      summary: Retrieve a specific page of search results
      tags:
        - Any-to-video search
      description: |
        Use this endpoint to retrieve a specific page of search results.

        **NOTE**: When you use pagination, you will not be charged for retrieving subsequent pages of results.
      operationId: any-to-video--retrieve-specific-page
      parameters:
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/Content-Type'
        - name: page-token
          in: path
          required: true
          description: |
            A token that identifies the page to retrieve.
          schema:
            type: string
            example: '1234567890'
      responses:
        '200':
          $ref: '#/components/responses/searchResultsResponsePageId'
        '400':
          $ref: '#/components/responses/searchResultsError'
components:
  schemas:
    ImportLog:
      description: |
        An object that contains information about the import process.
      type: object
      properties:
        index_id:
          type: string
          description: The unique identifier of the index associated with this import.
          example: 6298d673f1090f1100476d4c
        index_name:
          type: string
          description: The name of the index associated with this import.
          example: myIndex
        created_at:
          type: string
          format: date-time
          description: The date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format when the import process was initiated.
          example: '2024-09-22T13:25:00Z'
        ended_at:
          type: string
          format: date-time
          description: The date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format, when the platform completed importing your videos. A `null` value indicates that the import process is still ongoing.
          example: '2024-09-22T13:25:00Z'
        video_status:
          type: object
          description: Counts of files in different statuses. See the [Task object](/reference/the-task-object) page for details on each status.
          properties:
            ready:
              type: integer
              example: 10
            validating:
              type: integer
              example: 2
            queued:
              type: integer
              example: 3
            pending:
              type: integer
              example: 4
            indexing:
              type: integer
              example: 5
            failed:
              type: integer
              example: 6
          required:
            - ready
            - validating
            - queued
            - pending
            - indexing
            - failed
          example:
            ready: 10
            validating: 2
            queued: 3
            pending: 4
            indexing: 5
            failed: 6
        failed_files:
          type: array
          description: An array containing the video files that failed to import, along with details about the error.
          items:
            type: object
            properties:
              filename:
                type: string
                description: The name of the video file that failed to import.
                example: 01.mp4
              error_message:
                type: string
                description: A human-readable error message.
                example: The file is not a valid video file.
                required:
                  - filename
                  - error_message
            example:
              filename: 01.mp4
              error_message: The file is not a valid video file.
          example:
            - filename: 01.mp4
              error_message: The file is not a valid video file.
      example:
        index_id: 6298d673f1090f1100476d4c
        index_name: myIndex
        created_at: '2024-09-22T13:25:00Z'
        ended_at: '2024-09-22T13:25:00Z'
        video_status:
          ready: 10
          validating: 2
          queued: 3
          pending: 4
          indexing: 5
          failed: 6
        failed_files:
          - filename: 01.mp4
            error_message: The file is not a valid video file.
    VideoItem:
      description: |
        An object that contains information about a video file.
      type: object
      properties:
        video_id:
          type: string
          description: The unique identifier of the video.
          example: 6298d673f1090f1100476d4c
        filename:
          type: string
          description: The name of the video file.
          example: 01.mp4
        created_at:
          type: string
          format: date-time
          description: The date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), when the video was added to the import process.
          example: '2024-09-22T13:25:00Z'
      required:
        - video_id
        - filename
        - created_at
      example:
        video_id: 6298d673f1090f1100476d4c
        filename: 01.mp4
        created_at: '2024-09-22T13:25:00Z'
    VideoItemFailed:
      description: |
        An object that contains information about a video file that failed to import.
      type: object
      properties:
        filename:
          type: string
          description: The name of the video file.
          example: 01.mp4
        created_at:
          type: string
          format: date-time
          description: The date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), when the video was added to the import process.
          example: '2024-09-22T13:25:00Z'
        error_message:
          type: string
          description: The error message explaining why the video failed to import.
          example: The file is not a valid video file.
      required:
        - filename
        - created_at
        - error_message
      example:
        filename: 01.mp4
        created_at: '2024-09-22T13:25:00Z'
        error_message: The file is not a valid video file.
    EmbeddingResponse:
      type: object
      description: |
        An object that contains the generated embedding vector and associated information.
      properties:
        model_name:
          type: string
          description: The name ofhe video understanding model the platform has used to create this embedding.
          example: Marengo-retrieval-2.7
      anyOf:
        - $ref: '#/components/schemas/AudioEmbeddingResponse'
        - $ref: '#/components/schemas/ImageEmbeddingResponse'
        - $ref: '#/components/schemas/TextEmbeddingResponse'
      example:
        model_name: Marengo-retrieval-2.7
        audio_embedding:
          segments:
            - float:
                - -0.042632885
                - 0.014312328
                - 0.029209055
              start_offset_sec: 0
          metadata:
            input_filename: 01.mp3
        image_embedding:
          segments:
            - float:
                - -0.042632885
                - 0.014312328
                - 0.029209055
          metadata:
            input_filename: 01.jpg
        text_embedding:
          segments:
            - float:
                - -0.042632885
                - 0.014312328
                - 0.029209055
    AudioEmbeddingResponse:
      description: |
        An object that contains the generated audio embedding vector and associated information.
      type: object
      title: Audio embedding
      properties:
        audio_embedding:
          $ref: '#/components/schemas/AudioEmbeddingResult'
      example:
        audio_embedding:
          segments:
            - start_offset_sec: 0
              float:
                - -0.042632885
                - 0.014312328
                - 0.029209055
          metadata:
            input_filename: 01.mp3
    ImageEmbeddingResponse:
      description: |
        An object that contains the generated image embedding vector and associated information.
      type: object
      title: Image embedding
      required:
        - image_embedding
      properties:
        image_embedding:
          $ref: '#/components/schemas/ImageEmbeddingResult'
      example:
        image_embedding:
          segments:
            - float:
                - -0.042632885
                - 0.014312328
                - 0.029209055
    TextEmbeddingResponse:
      description: |
        An object that contains the generated text embedding vector and associated information.
      type: object
      title: Text embedding
      required:
        - text_embedding
      properties:
        text_embedding:
          $ref: '#/components/schemas/TextEmbeddingResult'
      example:
        text_embedding:
          segments:
            - float:
                - -0.042632885
                - 0.014312328
                - 0.029209055
    TextEmbeddingResult:
      type: object
      description: An object containing the generated embedding vector.
      properties:
        error_message:
          type: string
          description: Error message if the embedding generation failed.
          example: The text is too long.
        segments:
          type: array
          description: |
            An object that contains the embedding.
          items:
            $ref: '#/components/schemas/BaseSegment'
          example:
            - float:
                - -0.042632885
                - 0.014312328
                - 0.029209055
      example:
        segments:
          - float:
              - -0.042632885
              - 0.014312328
              - 0.029209055
    AudioEmbeddingResult:
      type: object
      description: |
        An object that contains the generated embedding vector and associated information.
      properties:
        segments:
          type: array
          description: |
            An object that contains the embedding and its start time.
          items:
            $ref: '#/components/schemas/AudioSegment'
          example:
            - float:
                - -0.042632885
                - 0.014312328
                - 0.029209055
        error_message:
          type: string
          description: Error message if the embedding generation failed.
          example: Audio file is not valid.
        metadata:
          $ref: '#/components/schemas/BaseEmbeddingMetadata'
      example:
        segments:
          - float:
              - -0.042632885
              - 0.014312328
              - 0.029209055
        error_message: Audio file is not valid.
        metadata:
          input_url: https://example.com/audio.mp3
          input_filename: 01.mp3
    ImageEmbeddingResult:
      type: object
      description: An object containing the generated embedding vector and associated information.
      properties:
        error_message:
          type: string
          description: Error message if the embedding generation failed.
          example: Image file is not valid.
        segments:
          type: array
          description: |
            An object that contains the embedding.
          items:
            $ref: '#/components/schemas/BaseSegment'
          example:
            - float:
                - -0.042632885
                - 0.014312328
                - 0.029209055
        metadata:
          $ref: '#/components/schemas/BaseEmbeddingMetadata'
      example:
        segments:
          - float:
              - -0.042632885
              - 0.014312328
              - 0.029209055
    BaseEmbeddingMetadata:
      description: |
        Metadata about the embedding.
      type: object
      properties:
        input_url:
          type: string
          description: |
            The URL of the media file used to generate the embedding. Present if a URL was provided in the request.
          example: https://example.com/audio.mp3
        input_filename:
          type: string
          description: |
            The name of the media file used to generate the embedding. Present if a file was provided in the request.
          example: 01.mp3
      example:
        input_url: https://example.com/audio.mp3
        input_filename: 01.mp3
    BaseSegment:
      description: |
        An object that contains the embedding value of a segment.
      type: object
      properties:
        float:
          type: array
          description: An array of floating point numbers representing the embedding. You can use this array with cosine similarity for various downstream tasks. Note that the example response was truncated for brevity.
          items:
            type: number
            format: float
            example: 0.042632885
          example:
            - 0.042632885
            - 0.014312328
            - 0.029209055
      example:
        float:
          - 0.042632885
          - 0.014312328
          - 0.029209055
    AudioSegment:
      description: |
        An object that contains the audio embedding and its start time.
      allOf:
        - $ref: '#/components/schemas/BaseSegment'
        - type: object
          properties:
            start_offset_sec:
              type: number
              description: The start time, in seconds, from which the platform generated the audio embedding.
              example: 0
          example:
            float:
              - 0.042632885
              - 0.014312328
              - 0.029209055
            start_offset_sec: 0
    VideoSegment:
      description: |
        An object that contains the video embedding and its start time.
      allOf:
        - $ref: '#/components/schemas/AudioSegment'
        - type: object
          properties:
            end_offset_sec:
              type: number
              description: The end time, in seconds, from which the platform generated the video embedding.
              example: 6
            embedding_scope:
              type: string
              description: The scope of the video embedding.
              example: clip
          example:
            float:
              - 0.042632885
              - 0.014312328
              - 0.029209055
            end_offset_sec: 6
            embedding_scope: clip
    EndTime:
      type: number
      description: |
        The end time of the matching video clip, expressed in seconds.
      example: 60
    StartTime:
      type: number
      description: |
        The start time of the matching video clip, expressed in seconds.
      example: 60
    ScoreSearchTerms:
      type: string
      description: |
        A quantitative value determined by the AI model representing the level of confidence that the results match your search terms.
      example: '90.5'
    confidence:
      type: string
      description: |
        A qualitative indicator based on the value of the `score` field. This field can take one of the following values:
        - `high`
        - `medium`
        - `low`
        - `extremely low`
      example: high
    thumbnail_url:
      type: string
      description: |
        If thumbnail generation has been enabled for this index, the platform returns a string representing the URL of the thumbnail. Note that the URL expires in one hour.
      example: https://project-one-thumbnail.s3.us-west-2.amazonaws.com/639963a1ce36463e0199c8c7/516.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAYRWJPOVHXE5SJ77T%2F20221222%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20221222T134944Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&x-id=GetObject&X-Amz-Signature=9e991f972f8a1baa647d7460685d99e20c4a27408406a972a4baf173a10b0102
    total_results:
      description: The total number of results.
      type: integer
      example: 10
    page:
      description: The page you retrieved.
      type: integer
      example: 1
    total_page:
      type: integer
      description: The total number of pages.
      example: 10
    limit_per_page_simple:
      type: integer
      description: The maximum number of items on each page.
      example: 10
    page_info:
      type: object
      description: Simple page information object that provides information about pagination.
      properties:
        limit_per_page:
          $ref: '#/components/schemas/limit_per_page_simple'
        page:
          $ref: '#/components/schemas/page'
        total_page:
          $ref: '#/components/schemas/total_page'
        total_results:
          $ref: '#/components/schemas/total_results'
      example:
        limit_per_page: 10
        page: 1
        total_page: 1
        total_results: 2
    total_inner_matches:
      type: integer
      description: |
        When grouping by video, the platform return this field that shows the total number of video clips matching your query.
      example: 10
    next_page_token:
      type: string
      description: The unique identifier of the next page.
      example: d1a8f7bd-31c8-4d55-9bb7-c1473de4b2dc-1
    prev_page_token:
      type: string
      description: The unique identifier of the previous page.
      example: e2b9f8ac-42d7-4e66-8cc9-d2584fb3a9e0-1
    SearchResults:
      description: |
        An object that contains your search results.
      type: object
      properties:
        data:
          type: array
          description: |
            An array that contains your search results. For each match found, the model returns the following fields:
          items:
            type: object
            properties:
              score:
                $ref: '#/components/schemas/ScoreSearchTerms'
              start:
                $ref: '#/components/schemas/StartTime'
              end:
                $ref: '#/components/schemas/EndTime'
              video_id:
                type: string
                description: A string representing the unique identifier of the video. Once the platform indexes a video, it assigns a unique identifier. Note that this is different from the identifier of the video indexing task.
                example: 639963a1ce36463e0199c8c7
              confidence:
                $ref: '#/components/schemas/confidence'
              thumbnail_url:
                $ref: '#/components/schemas/thumbnail_url'
            example:
              score: '85.08'
              start: 515.4375
              end: 527
              video_id: 639963a1ce36463e0199c8c7
              confidence: high
              thumbnail_url: https://example.com/thumbnail.jpg
          example:
            - score: '85.08'
              start: 515.4375
              end: 527
              video_id: 639963a1ce36463e0199c8c7
              confidence: high
              thumbnail_url: https://example.com/thumbnail.jpg
        page_info:
          type: object
          description: An object that provides information about pagination.
          properties:
            limit_per_page:
              type: integer
              description: |
                The maximum number of items on each page. When grouping by video, this field represents the maximum number of videos per page. Otherwise, it represents the maximum number of video clips per page.
              example: 10
            page_expires_at:
              type: string
              description: A string representing the date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), that the page expires.
              example: '2024-03-01T00:00:00Z'
            total_results:
              type: integer
              description: |
                The total number of results. When grouping by video, this field represents the total number of video clips matching your query. Otherwise , this field represents the total number of videos.
              example: 100
            total_inner_matches:
              $ref: '#/components/schemas/total_inner_matches'
            next_page_token:
              $ref: '#/components/schemas/next_page_token'
          example:
            limit_per_page: 10
            page_expires_at: '2024-03-01T00:00:00Z'
            total_results: 100
            next_page_token: d1a8f7bd-31c8-4d55-9bb7-c1473de4b2dc-1
        search_pool:
          $ref: '#/components/schemas/search_pool'
      example:
        search_pool:
          total_count: 10
          total_duration: 8731
          index_id: 639961c9e219c90227c371a2
        data:
          - score: '85.08'
            start: 238.75
            end: 259.62109375
            video_id: 639963a1ce36463e0199c8c7
            confidence: high
            thumbnail_url: https://example.com/thumbnail.jpg
    search_pool:
      type: object
      description: An object that contains details about the index you queried.
      properties:
        total_count:
          type: integer
          description: The number of videos in the index you queried.
          example: 10
        total_duration:
          type: number
          description: The total duration of the videos.
          example: 10
        index_id:
          type: string
          description: The unique identifier of the index.
          example: 663da73b31cdd0c1f638a8e6
      example:
        total_count: 10
        total_duration: 10
        index_id: 663da73b31cdd0c1f638a8e6
    threshold_search:
      description: |
        Use this parameter to filter on the level of confidence that the results match your query.

        **Default:** `low`
      default: low
      enum:
        - high
        - medium
        - low
        - none
      type: string
      example: low
    Index:
      title: Index
      description: |
        An index groups one or more videos stored as vectors and is the most granular level at which you can perform a search.
      type: object
      properties:
        _id:
          type: string
          description: A string representing the unique identifier of the index. It is assigned by the API when an index is created.
          example: 663da73b31cdd0c1f638a8e6
        created_at:
          type: string
          description: A string representing the date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), that the index was created.
          example: '2024-03-01T00:00:00Z'
        updated_at:
          type: string
          description: A string representing the date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), that the index has been updated.
          example: '2024-03-01T00:00:00Z'
        expires_at:
          type: string
          description: |
            A string representing the date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), when your index will expire.

            If you're on the Free plan, the platform retains your index data for 90 days from creation. After this period, the platform deletes your index data, and this action cannot be undone. To continue using your index beyond this period, consider upgrading to the Developer plan, which offers unlimited index retention. For details, see the [Upgrade your plan](/docs/manage-your-plan#upgrade-your-plan) section.

            If you're on the Developer plan, this field is set to `null`, indicating no expiration.
          example: '2024-03-01T00:00:00Z'
        index_name:
          type: string
          description: A string representing the name of the index.
          example: My Index
        total_duration:
          type: number
          description: A number representing the total duration, in seconds, of the videos in the index.
          example: 10
        video_count:
          type: number
          description: The number of videos uploaded to this index.
          example: 10
        models:
          type: array
          description: An array containing the list of the [video understanding models](/docs/video-understanding-models) enabled for this index.
          items:
            type: object
            properties:
              model_name:
                type: string
                description: A string representing the name of the model.
                example: marengo2.7
              model_options:
                type: array
                description: |
                  An array of strings that contains the [model options](/docs/model-options) enabled for this index.
                items:
                  type: string
                  example: visual
                example:
                  - visual
            example:
              model_name: marengo2.7
              model_options:
                - visual
          example:
            - model_name: marengo2.7
              model_options:
                - visual
        addons:
          type: array
          description: The list of the add-ons that are enabled for this index.
          items:
            type: string
            example: thumbnail
          example:
            - thumbnail
      example:
        _id: 663da73b31cdd0c1f638a8e6
        created_at: '2024-03-01T00:00:00Z'
        updated_at: '2024-03-01T00:00:00Z'
        expires_at: '2024-03-01T00:00:00Z'
        index_name: My Index
        total_duration: 10
        video_count: 10
        models:
          - model_name: marengo2.7
            model_options:
              - visual
              - audio
        addons:
          - thumbnail
    VideoEmbeddingMetadata:
      description: |
        An object containing metadata associated with the embedding.
      allOf:
        - $ref: '#/components/schemas/BaseEmbeddingMetadata'
        - type: object
          properties:
            video_clip_length:
              type: number
              description: The duration for each clip in seconds, as specified by the `video_clip_length` parameter of the [`POST`](/reference/create-video-embedding-task) method of the `/embed/task` endpoint. Note that the platform automatically truncates video segments shorter than 2 seconds. For a 31-second video divided into 6-second segments, the final 1-second segment will be truncated. This truncation only applies to the last segment if it does not meet the minimum length requirement of 2 seconds.
              example: 6
            video_embedding_scope:
              type: array
              description: |
                The scope you've specified in the request. It can take one of the following values: ['clip'] or ['clip', 'video'].
              items:
                type: string
                example: clip
              example:
                - clip
            duration:
              type: number
              format: float
              description: The total duration of the video in seconds.
              example: 10
          example:
            input_filename: /Users/myuser/myvideo.mp4
            input_url: https://myvideo.com/myvideo.mp4
            video_clip_length: 6
            video_embedding_scope:
              - clip
            duration: 10
    VideoEmbeddingTask:
      description: |
        A video embedding task that describes the status of the task and the metadata about the video.
      title: Video Embedding Task
      type: object
      properties:
        _id:
          type: string
          description: |
            The unique identifier of the video embedding task.
          example: 663da73b31cdd0c1f638a8e6
        model_name:
          type: string
          description: |
            The name of the video understanding model the platform used to create the embedding.
          example: Marengo-retrieval-2.7
        status:
          type: string
          description: |
            A string indicating the status of the video indexing task. It can take one of the following values: `processing`, `ready` or `failed`.
          example: processing
        created_at:
          type: string
          format: date-time
          description: |
            The date and time, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"), that the video embedding task was created.
          example: '2024-03-01T00:00:00Z'
        video_embedding:
          type: object
          description: |
            An object containing the metadata associated with the embedding.
          properties:
            metadata:
              $ref: '#/components/schemas/VideoEmbeddingMetadata'
          example:
            metadata:
              input_filename: /Users/myuser/myvideo.mp4
              input_url: https://myvideo.com/myvideo.mp4
              video_clip_length: 6
              video_embedding_scope:
                - clip
              duration: 10
      example:
        _id: 663da73b31cdd0c1f638a8e6
        model_name: Marengo-retrieval-2.7
        status: processing
        created_at: '2024-03-01T00:00:00Z'
        video_embedding:
          metadata:
            input_filename: /Users/myuser/myvideo.mp4
            input_url: https://myvideo.com/myvideo.mp4
            video_clip_length: 6
            video_embedding_scope:
              - clip
            duration: 10
    videoIndexingTask:
      description: |
        A video indexing task that describes the status of the task and the metadata about the video.
      title: Video Indexing Task
      type: object
      properties:
        _id:
          type: string
          description: |
            A string representing the unique identifier of the task. It is assigned by the platform when a new task is created.
          example: 663da73b31cdd0c1f638a8e6
        video_id:
          type: string
          description: |
            A string representing the unique identifier of the video associated with the specified video indexing task.
          example: 62a1ec6d9ea24f052b971a0f
        created_at:
          type: string
          description: |
            A string indicating the date and time, in the RFC [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"), that the task was created.
          example: '2024-03-01T00:00:00Z'
        updated_at:
          type: string
          description: |
            A string indicating the date and time, in the RFC [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"), that the task object was last updated. The platform updates this field every time the video indexing task transitions to a different state.
          example: '2024-03-01T00:00:00Z'
        status:
          type: string
          description: |
            A string indicating the status of the video indexing task. See the [Task object](/reference/the-task-object) page for a list of possible statuses.
          example: ready
        index_id:
          type: string
          description: |
            A string representing the unique identifier of the index to which the video must be uploaded.
          example: 663da73b31cdd0c1f638a8e6
        system_metadata:
          type: object
          description: |
            System-generated metadata about the video.
          properties:
            duration:
              type: number
              example: 10
            filename:
              type: string
              example: 01.mp4
            height:
              type: integer
              example: 480
            width:
              type: integer
              example: 854
          example:
            duration: 531.998133
            filename: 01.mp4
            height: 480
            width: 854
      example:
        _id: 663da73b31cdd0c1f638a8e6
        video_id: 62a1ec6d9ea24f052b971a0f
        created_at: '2024-03-01T00:00:00Z'
        updated_at: '2024-03-01T00:00:00Z'
        status: ready
        index_id: 630aff993fcee0532cb809d0
        system_metadata:
          duration: 531.998133
          filename: 01.mp4
          height: 480
          width: 854
        hls:
          video_url: https://d2cp8xx7n5vxnu.cloudfront.net/6298aa0b535db125bf6e1d10/64902a28fb01304dd47be3cb/stream/c924f34a-144e-41df-bf2a-c693703fa134.m3u8
          thumbnail_urls:
            - https://d2cp8xx7n5vxnu.cloudfront.net/6298aa0b535db125bf6e1d10/64902a28fb01304dd47be3cb/thumbnails/c924f34a-144e-41df-bf2a-c693703fa134.0000001.jpg
          status: COMPLETE
          updated_at: '2024-01-16T07:59:40.879Z'
    videoVector:
      description: |
        A video object that contains information about the video.
      title: Video Vector
      type: object
      properties:
        _id:
          type: string
          description: |
            A string representing the unique identifier of a video. The platform creates a new `video_vector` object and assigns it a unique identifier when the video has successfully been indexed. Note that video IDs are different from task IDs.
          example: 663da73b31cdd0c1f638a8e6
        created_at:
          type: string
          description: |
            A string indicating the date and time, in the RFC [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"), that the video indexing task was created.
          example: '2024-03-01T00:00:00Z'
        updated_at:
          type: string
          description: |
            A string indicating the date and time, in the RFC [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"), that the video indexing task object was last updated. The platform updates this field every time the video indexing task transitions to a different state.
          example: '2024-03-01T00:00:00Z'
        indexed_at:
          type: string
          description: |
            A string indicating the date and time, in the RFC [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"), that the video indexing task has been completed.
          example: '2024-03-01T00:00:00Z'
        system_metadata:
          type: object
          description: |
            System-generated metadata about the video.
          properties:
            filename:
              type: string
              example: 01.mp4
            duration:
              type: number
              example: 531.998133
            fps:
              type: number
              example: 741.875
            width:
              type: integer
              example: 640
            height:
              type: integer
              example: 360
            size:
              type: number
              example: 65749715
          example:
            filename: 01.mp4
            duration: 531.998133
            fps: 741.875
            width: 640
            height: 360
            size: 65749715
      example:
        _id: 663da73b31cdd0c1f638a8e6
        created_at: '2024-03-01T00:00:00Z'
        updated_at: '2024-03-01T00:00:00Z'
        indexed_at: '2024-03-01T00:00:00Z'
        metadata:
          filename: 01.mp4
          duration: 531.998133
          fps: 741.875
          width: 640
          height: 360
          size: 65749715
    HLSObject:
      description: The platform returns this object only for the videos that you uploaded with the `enable_video_stream` parameter set to `true`.
      title: HLS Object
      type: object
      properties:
        video_url:
          type: string
          description: A string representing the URL of the video. You can then use this URL to access the stream over the <a href="https://en.wikipedia.org/wiki/HTTP_Live_Streaming" target="_blank">HLS</a> protocol.
          example: https://d2cp8xx7n5vxnu.cloudfront.net/6298aa0b535db125bf6e1d10/64902a28fb01304dd47be3cb/stream/c924f34a-144e-41df-bf2a-c693703fa134.m3u8
        thumbnail_urls:
          type: array
          description: An array containing the URL of the thumbnail.
          items:
            type: string
            example: https://d2cp8xx7n5vxnu.cloudfront.net/6298aa0b535db125bf6e1d10/64902a28fb01304dd47be3cb/thumbnails/c924f34a-144e-41df-bf2a-c693703fa134.0000001.jpg
          example:
            - https://d2cp8xx7n5vxnu.cloudfront.net/6298aa0b535db125bf6e1d10/64902a28fb01304dd47be3cb/thumbnails/c924f34a-144e-41df-bf2a-c693703fa134.0000001.jpg
            - https://d2cp8xx7n5vxnu.cloudfront.net/6298aa0b535db125bf6e1d10/64902a28fb01304dd47be3cb/thumbnails/c924f34a-144e-41df-bf2a-c693703fa134.0000002.jpg
            - https://d2cp8xx7n5vxnu.cloudfront.net/6298aa0b535db125bf6e1d10/64902a28fb01304dd47be3cb/thumbnails/c924f34a-144e-41df-bf2a-c693703fa134.0000003.jpg
        status:
          type: string
          description: A string representing the encoding status of the video file from its original format to a streamable format.
          example: ready
        updated_at:
          type: string
          description: A string indicating the date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), that the encoding status was last updated.
          example: '2024-01-09T11:17:15.296Z'
      example:
        video_url: https://d2cp8xx7n5vxnu.cloudfront.net/6298aa0b535db125bf6e1d10/64902a28fb01304dd47be3cb/stream/c924f34a-144e-41df-bf2a-c693703fa134.m3u8
        thumbnail_urls:
          - https://d2cp8xx7n5vxnu.cloudfront.net/6298aa0b535db125bf6e1d10/64902a28fb01304dd47be3cb/thumbnails/c924f34a-144e-41df-bf2a-c693703fa134.0000001.jpg
          - https://d2cp8xx7n5vxnu.cloudfront.net/6298aa0b535db125bf6e1d10/64902a28fb01304dd47be3cb/thumbnails/c924f34a-144e-41df-bf2a-c693703fa134.0000002.jpg
          - https://d2cp8xx7n5vxnu.cloudfront.net/6298aa0b535db125bf6e1d10/64902a28fb01304dd47be3cb/thumbnails/c924f34a-144e-41df-bf2a-c693703fa134.0000003.jpg
        status: ready
        updated_at: '2024-01-09T11:17:15.296Z'
  parameters:
    video-embedding-task-id:
      name: task_id
      in: path
      description: |
        The unique identifier of your video embedding task.
      required: true
      schema:
        type: string
        example: 663da73b31cdd0c1f638a8e6
    Content-Type:
      name: Content-Type
      in: header
      description: Must be set to `application/json`.
      required: true
      schema:
        type: string
        default: application/json
        example: application/json
    x-api-key:
      name: x-api-key
      in: header
      description: |
        Your API key.

        **NOTE:** You can find your API key on the <a href="https://playground.twelvelabs.io/dashboard/api-key" target="_blank">API Key</a> page.
      required: true
      schema:
        type: string
        example: tlk_1234567890
    bearer-token:
      name: Authorization
      in: header
      description: |
        Your bearer token.
      required: true
      schema:
        type: string
        example: Bearer 1234567890
    multipart:
      name: Content-Type
      in: header
      description: Must be set to `multipart/form-data`.
      required: true
      schema:
        type: string
        default: multipart/form-data
        example: multipart/form-data
    page:
      name: page
      in: query
      description: |
        A number that identifies the page to retrieve.

        **Default**: `1`.
      schema:
        type: integer
        default: 1
        example: 1
      required: false
    page_limit:
      name: page_limit
      in: query
      description: |
        The number of items to return on each page.

        **Default**: `10`.
        **Max**: `50`.
      schema:
        type: integer
        default: 10
        example: 10
      required: false
    sort_by:
      name: sort_by
      in: query
      description: |
        The field to sort on. The following options are available:
        - `updated_at`: Sorts by the time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), when the item was updated.
        - `created_at`: Sorts by the time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), when the item was created.

        **Default**: `created_at`.
      schema:
        type: string
        default: created_at
        example: created_at
      required: false
    sort_option:
      name: sort_option
      in: query
      description: |
        The sorting direction. The following options are available:
        - `asc`
        - `desc`

        **Default**: `desc`.
      schema:
        type: string
        default: desc
        example: desc
      required: false
    index_id:
      name: index_id
      in: query
      description: |
        Filter by the unique identifier of an index.
      schema:
        type: string
        example: 630aff993fcee0532cb809d0
      required: false
    task_status:
      name: status
      in: query
      description: |
        Filter by one or more video indexing task statuses. The following options are available:
        - `ready`: The video has been successfully uploaded and indexed.
        - `uploading`: The video is being uploaded.
        - `validating`: The video is being validated against the prerequisites.
        - `pending`: The video is pending.
        - `queued`: The video is queued.
        - `indexing`: The video is being indexed.
        - `failed`: The video indexing task failed.

        To filter by multiple statuses, specify the `status` parameter for each value:
        ```
        status=ready&status=validating
        ```
      schema:
        type: array
        items:
          type: string
          enum:
            - ready
            - uploading
            - validating
            - pending
            - queued
            - indexing
            - failed
          example: ready
        style: form
        explode: false
        example:
          - ready
          - failed
      required: false
    filename:
      name: filename
      in: query
      description: |
        Filter by filename.
      schema:
        type: string
        example: 01.mp4
      required: false
    duration:
      name: duration
      in: query
      description: |
        Filter by duration. Expressed in seconds.
      schema:
        type: number
        example: 531.998133
      required: false
    width:
      name: width
      in: query
      description: |
        Filter by width.
      schema:
        type: integer
        example: 640
      required: false
    height:
      name: height
      in: query
      description: |
        Filter by height.
      schema:
        type: integer
        example: 360
      required: false
    created_at:
      name: created_at
      in: query
      description: |
        Filter video indexing tasks by the creation date and time, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the video indexing tasks that were created on the specified date at or after the given time.
      schema:
        type: string
        example: '2024-03-01T00:00:00Z'
      required: false
    updated_at:
      name: updated_at
      in: query
      description: |
        Filter video indexing tasks by the last update date and time, in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the video indexing tasks that were updated on the specified date at or after the given time.
      schema:
        type: string
        example: '2024-03-01T00:00:00Z'
      required: false
    ended_at:
      name: ended_at
      description: |
        Retrieve the video embedding tasks that were created before the given date and time, expressed in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ").
      in: query
      schema:
        type: string
        example: '2024-03-01T00:00:00Z'
      required: false
    started_at:
      name: started_at
      description: |
        Retrieve the video embedding tasks that were created after the given date and time, expressed in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format ("YYYY-MM-DDTHH:mm:ssZ").
      in: query
      schema:
        type: string
        example: '2024-03-01T00:00:00Z'
      required: false
    embedding_tasks_filter_status:
      name: status
      description: Filter video embedding tasks by their current status. Possible values are `processing`, `ready`, or `failed`.
      in: query
      schema:
        type: string
        example: processing
      required: false
  headers:
    X-Ratelimit-Limit:
      schema:
        type: number
        example: 100
      description: The maximum number of requests you can make per rate limit window for this endpoint. For details, see the [Rate limits](/docs/rate-limits) page.
    X-Ratelimit-Remaining:
      schema:
        type: number
        example: 99
      description: The number of requests remaining in the current rate limit window for the specific endpoint.
    X-Ratelimit-Used:
      schema:
        type: number
        example: 1
      description: The number of requests you have made in the current rate limit window for the specific endpoint.
    X-Ratelimit-Reset:
      schema:
        type: number
        example: 1718777276
      description: The time at which the current rate limit window resets, expressed in UTC epoch seconds.
  responses:
    cloud-to-cloud-retrieve-import-logs-response:
      description: The import logs have successfully been retrieved.
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: An array that contains the import logs.
                items:
                  $ref: '#/components/schemas/ImportLog'
                example:
                  - index_id: 66ed1ed7046a96796303a06f
                    index_name: my sample index
                    created_at: '2024-09-24T13:22:00Z'
                    ended_at: '2024-09-24T13:23:00Z'
                    video_status:
                      ready: 5
                      validating: 2
                      pending: 1
                      indexing: 3
                      failed: 2
                      queued: 0
                    failed_files:
                      - filename: VIDEO_3.mp4
                        error_message: Video indexing has failed. Please try again.
            example:
              data:
                - index_id: 66ed1ed7046a96796303a06f
                  index_name: my sample index
                  created_at: '2024-09-24T13:22:00Z'
                  ended_at: '2024-09-24T13:23:00Z'
                  video_status:
                    ready: 5
                    validating: 2
                    pending: 1
                    indexing: 3
                    failed: 2
                    queued: 0
                  failed_files:
                    - filename: VIDEO_3.mp4
                      error_message: Video indexing has failed. Please try again.
                - index_id: 66ed1ed7046a96796303a06f
                  index_name: my sample index
                  created_at: '2024-09-22T13:25:00Z'
                  ended_at: '2024-09-24T13:26:00Z'
                  video_status:
                    ready: 10
                    validating: 0
                    pending: 0
                    indexing: 0
                    failed: 3
                    queued: 0
                  failed_files:
                    - filename: VIDEO_3.mp4
                      error_message: No sound
    searchResultsResponsePageId:
      description: Successfully retrieved the specified page of search results.
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/SearchResults'
              - type: object
                properties:
                  page_info:
                    type: object
                    description: An object that provides information about pagination.
                    properties:
                      limit_per_page:
                        type: integer
                        description: |
                          The maximum number of items on each page. When grouping by video, this field represents the maximum number of videos per page. Otherwise, it represents the maximum number of video clips per page.
                        example: 10
                      page_expires_at:
                        type: string
                        description: |
                          A string representing the date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), that the page expires.
                        example: '2024-03-01T00:00:00Z'
                      total_results:
                        type: integer
                        description: |
                          The total number of results. When grouping by video, this field represents the total number of video clips matching your query. Otherwise , this field represents the total number of videos.
                        example: 100
                      total_inner_matches:
                        $ref: '#/components/schemas/total_inner_matches'
                      next_page_token:
                        $ref: '#/components/schemas/next_page_token'
                      prev_page_token:
                        $ref: '#/components/schemas/prev_page_token'
                    example:
                      limit_per_page: 10
                      page_expires_at: '2024-03-01T00:00:00Z'
                      total_results: 100
                      next_page_token: d1a8f7bd-31c8-4d55-9bb7-c1473de4b2dc-1
                      prev_page_token: e2b9f8ac-42d7-4e66-8cc9-d2584fb3a9e0-1
                example:
                  page_info:
                    limit_per_page: 10
                    page_expires_at: '2024-03-01T00:00:00Z'
                    total_results: 100
                    next_page_token: d1a8f7bd-31c8-4d55-9bb7-c1473de4b2dc-1
                    prev_page_token: e2b9f8ac-42d7-4e66-8cc9-d2584fb3a9e0-1
            example:
              search_pool:
                total_count: 10
                total_duration: 8731
                index_id: 639961c9e219c90227c371a2
              data:
                - score: '85.08'
                  start: 238.75
                  end: 259.62109375
                  video_id: 639963a1ce36463e0199c8c7
                  confidence: high
                  thumbnail_url: https://example.com/thumbnail.jpg
    noContentResponse:
      description: If successful, this method returns a `204 No Content` response code. It does not return anything in the response body.
    searchResultsResponse:
      description: Successfully performed a search request.
      headers:
        X-Ratelimit-Limit:
          $ref: '#/components/headers/X-Ratelimit-Limit'
        X-Ratelimit-Remaining:
          $ref: '#/components/headers/X-Ratelimit-Remaining'
        X-Ratelimit-Used:
          $ref: '#/components/headers/X-Ratelimit-Used'
        X-Ratelimit-Reset:
          $ref: '#/components/headers/X-Ratelimit-Reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SearchResults'
          example:
            search_pool:
              total_count: 10
              total_duration: 8731
              index_id: 639961c9e219c90227c371a2
            data:
              - score: '85.08'
                start: 238.75
                end: 259.62109375
                video_id: 639963a1ce36463e0199c8c7
                confidence: high
                thumbnail_url: https://example.com/thumbnail.jpg
    retrieveThumbnailResponse:
      description: A thumbnail has successfully been retrieved.
      content:
        application/json:
          schema:
            properties:
              thumbnail:
                type: string
                description: A string representing the URL of the thumbnail. Note that the URL expires in one hour.
                example: https://project-one-thumbnail.s3.us-west-2.amazonaws.com/6320748774fed2f3511f2a92/10.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAYRWJPOVHXE5SJ77T%2F20220914%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220914T075213Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&x-id=GetObject&X-Amz-Signature=46b3bac13fb8b022313244780c238cb6bfc53eddcbee3be23a8d2dd22d99543e
          example:
            thumbnail: https://project-one-thumbnail.s3.us-west-2.amazonaws.com/6320748774fed2f3511f2a92/10.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAYRWJPOVHXE5SJ77T%2F20220914%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220914T075213Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&x-id=GetObject&X-Amz-Signature=46b3bac13fb8b022313244780c238cb6bfc53eddcbee3be23a8d2dd22d99543e
    getVideoVectorsResponse:
      description: The video vectors in the specified index have successfully been retrieved.
      content:
        application/json:
          schema:
            properties:
              data:
                type: array
                description: An array that contains up to `page_limit` videos.
                items:
                  $ref: '#/components/schemas/videoVector'
                example:
                  - _id: 639963a1ce36463e0199c8c7
                    created_at: '2024-01-09T11:11:20.463Z'
                    updated_at: '2024-01-09T11:17:15.296Z'
                    indexed_at: '2024-01-09T11:17:15.296Z'
                    metadata:
                      duration: 8716.8969
                      filename: 01.mp4
              page_info:
                $ref: '#/components/schemas/page_info'
            example:
              data:
                - _id: 62a17bf847f5678267ec10cc
                  created_at: '2022-06-09T04:50:00.879Z'
                  index_id: 62a0906d47f5678267ec10a6
                  metadata:
                    duration: 531.998133
                    filename: 01.mp4
                    height: 400
                    width: 854
                  status: ready
                  updated_at: '2022-06-09T04:55:57.256Z'
                - _id: 62a17bce47f5678267ec10c6
                  created_at: '2022-06-09T04:49:20.001Z'
                  index_id: 62a0906d47f5678267ec10a6
                  metadata:
                    duration: 741.875
                    filename: 02.mp4
                    height: 480
                    width: 854
                  status: ready
                  updated_at: '2022-06-09T04:54:10.345Z'
              page_info:
                limit_per_page: 10
                page: 1
                total_page: 1
                total_results: 2
    getVideoVectorResponse:
      description: The specified video information has successfully been retrieved.
      content:
        application/json:
          schema:
            properties:
              _id:
                type: string
                description: The unique identifier of the video.
                example: 639963a1ce36463e0199c8c7
              created_at:
                type: string
                description: A string indicating the date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), that the video indexing task was created.
                example: '2024-01-09T11:11:20.463Z'
              updated_at:
                type: string
                description: A string indicating the date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), that the corresponding video indexing task was last updated. The platform updates this field every time the corresponding video indexing task transitions to a different state.
                example: '2024-01-09T11:17:15.296Z'
              indexed_at:
                type: string
                description: A string indicating the date and time, in the <a href="https://datatracker.ietf.org/doc/html/rfc3339" target="_blank">RFC 3339</a> format ("YYYY-MM-DDTHH:mm:ssZ"), that the video indexing task has been completed.
                example: '2024-01-09T11:17:15.296Z'
              system_metadata:
                type: object
                description: System-generated metadata about the video.
                properties:
                  duration:
                    type: number
                    example: 8716.8969
[...]
